<%= form_for(@benefit) do |f| %>
  <% if @benefit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@benefit.errors.count, "error") %> prohibited this benefit from being saved:</h2>

      <ul>
      <% @benefit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <% if @affiliate.person_id != "" and @affiliate.institution_ben_id == "" %>
          <b>Persona Beneficiada:</b>
          <%= @affiliate.person.fullname %>
      <% elsif @affiliate.institution_ben_id != "" and @affiliate.person_id == "" %>
          <b>Institución Beneficiada:</b>
          <%= Institution.find(@affiliate.institution_ben_id).name %>
      <% end %>
    </tr>
  </table>

  <div class="field">
    <%= f.label :period %><br />
    <%= f.text_field :period %>
  </div>
  <div class="field">
    <%= f.label :worth %><br />
    <%= f.number_field :worth %>
  </div>
  <div class="field">
    <%= f.label :benefit_category_id %><br />
    <%= f.number_field :benefit_category_id %>
  </div>
  <div class="field">
    <%= f.label :delivery_date, "Fecha de entrega" %>
    <%= f.datepicker :delivery_date, :dateFormat => "dd-mm-yy" %>
  </div>
  <div class="field">
    <%= f.label :qty %><br />
    <%= f.number_field :qty %>
  </div>
  <div class="field">
    <%= f.label :unit_price %><br />
    <%= f.text_field :unit_price %>
  </div>
  <div class="field">
    <%= f.label :affiliate_id %><br />
    <%= f.number_field :affiliate_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
