<h1>Listing institutions</h1>  </br>
<%= link_to 'Nueva Institución', new_institution_path, :class => "btn" %>
<br>
<table>
  <tr>
    <th>Nombre</th>
    <th>Dirección</th>
    <th>Colonia</th>
    <th>Código Postal</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @institutions.each do |institution| %>
  <tr>
    <td><%= institution.name %></td>
    <td><%= institution.address %>  <%= institution.external_address_number %></td>
    <td><%= institution.second_address %></td>
    <td><%= institution.zip_code %></td>
    <td><%= institution.phone %></td>
    <td><%= link_to 'Ver', institution %></td>
    <td><%= link_to 'Editar', edit_institution_path(institution) %></td>
    <td><%= link_to 'Eliminar', institution, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />


