<p id="notice" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"><%= notice %></p>
</br>
<div class="btn-group">
  <% if can? :update, @institution %>
      <%= link_to 'Editar', edit_institution_path(@institution), :class => "btn" %>
  <% end %>
  <%= link_to 'Regresar', institutions_path, :class => "btn" %>
</div>
</br>
<table class="table table-striped">
  <thead>
    <h4>Datos Fiscales</h4>
  </thead>
  <tr>
    <th>
      Nombre o Denominación Social
    </th>
    <th>
      Tipo de Persona
    </th>
  </tr>
  <tr>
    <td>
      <%= @institution.name %>
    </td>
    <td>
      <%= @institution.type_person.name %>
    </td>
  </tr>
</table>
<table class="table table-striped">
  <tr>
    <th>
      Nombre del Representante o Responsable Legal
    </th>
  </tr>
  <tr>
    <td>
      <%= @institution.legal_name%> <%= @institution.legal_last_name%> <%= @institution.legal_second_last_name%>
    </td>
  </tr>
</table>
<table class="table table-striped">
  <tr>
    <th>
      Teléfono
    </th>
    <th>
      RFC
    </th>
  </tr>
  <tr>
    <td>
      <%= @institution.phone %>
    </td>
    <td>
      <%= @institution.rfc %>
    </td>
  </tr>
  <tr>
    <th>
      Estado
    </th>
    <th>
      Pais
    </th>
  </tr>
  <tr>
    <td>
      <%= @institution.town.name %>
    </td>
    <td>
      <%= @institution.town.name %>
    </td>
  </tr>
  <tr>
    <th>
      Municipio
    </th>
    <th>
      Localidad
    </th>
  </tr>
  <tr>
    <td>
      <%= @institution.town.name %>
    </td>
    <td>
      <%= @institution.town.name %>
    </td>
  </tr>
  <tr>
    <th>
      Calle
    </th>
    <th>
      Numero
    </th>
  </tr>
  <tr>
    <td>
      <%= @institution.address%>
    </td>
    <td>
      <%= @institution.external_address_number %>
    </td>
  </tr>
  <tr>
    <th>
      Colonia
    </th>
    <th>
      Código Postal
    </th>
  </tr>
  <tr>
    <td>
      <%= @institution.second_address%>
    </td>
    <td>
      <%= @institution.zip_code %>
    </td>
  </tr>
  <tr>
    <th>
      Giro
    </th>
    <th>
      Correo Electrónico
    </th>
  </tr>
  <tr>
    <td>
      <%= @institution.business_line.name%>
    </td>
    <td>
      <%= @institution.email %>
    </td>
  </tr>
</table>

</br>
</br>
    <%= link_to 'Escolaridad', new_institution_school_age_path(@institution), :class => "btn" %>
</br>
</br>
<table class="table table-striped">
  <tr>
    <th>
      Datos Generales de la Población
    </th>
  </tr>
</table>

<table class="table table-striped">
  <thead>
      <h4>Total de Residentes: </h4> <%= %>
  </thead>
  </br>
  <tr>
    <th></th>
    <th>Tutela Publica</th>
    <th>Tutela Particular</th>
    <th>Edad Laboral</th>
    <th>Edad Escolar</th>
  </tr>
    <td>Mujeres</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  <tr>
    <td>Hombres</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<table class="table table-striped">
  <thead>
  <h4>Escolaridad</h4>
  </thead>
  <tr>
    <th>
      Nivel Escolar
    </th>
    <th>
      Mujeres
    </th>
    <th>
      Hombres
    </th>
    <th>
      Total
    </th>
  </tr>
</table>


<% @institution.school_ages.each do |b| %>
    <p>
      <b>Nivel Escolar:</b></br>
        <%= b.grade.name %>
    </p>
    </br>
    <%#= link_to "Editar Escolaridad", [@institution, b], :method => :edit %>
    <%#= link_to "Borrar Escolaridad", [@institution, b], :method => :delete, :confirm => "Esta usted seguro?" %>
<%end%>
</br>
</br>

<%= link_to 'Población', new_institution_age_population_path(@institution), :class => "btn" %>
</br>
</br>
<%obtenerdatos%>
<table class="table table-striped">
  <thead>
  <h4>Población por Edad y Sexo </h4> <%= %>
  </thead>
  </br>
  <tr>
    <th>Rango</th>
    <th>Total</th>
    <th>Mujeres</th>
    <th>Hombres</th>
  </tr>
  <tr>
    <td>0 - 4</td>
    <td><%= @sumat1 %></td>
    <td><%= @sumam1 %></td>
    <td><%= @sumah1 %></td>
  </tr>
  <tr>
    <td>5 - 9</td>
    <td><%= @sumat2 %></td>
    <td><%= @sumam2 %></td>
    <td><%= @sumah2 %></td>
  </tr>
  <tr>
    <td>10 - 14</td>
    <td><%= @sumat3 %></td>
    <td><%= @sumam3 %></td>
    <td><%= @sumah3 %></td>
  </tr>
  <tr>
    <td>15 - 19</td>
    <td><%= @sumat4 %></td>
    <td><%= @sumam4 %></td>
    <td><%= @sumah4 %></td>
  </tr>
  <tr>
    <td>20 - 24</td>
    <td><%= @sumat5 %></td>
    <td><%= @sumam5 %></td>
    <td><%= @sumah5 %></td>
  </tr>
  <tr>
    <td>25 - 29</td>
    <td><%= @sumat6 %></td>
    <td><%= @sumam6 %></td>
    <td><%= @sumah6 %></td>
  </tr>
  <tr>
    <td>30 - 34</td>
    <td><%= @sumat7 %></td>
    <td><%= @sumam7 %></td>
    <td><%= @sumah7 %></td>
  </tr>
  <tr>
    <td>35 - 39</td>
    <td><%= @sumat8 %></td>
    <td><%= @sumam8 %></td>
    <td><%= @sumah8 %></td>
  </tr>
  <tr>
    <td>40 - 44</td>
    <td><%= @sumat9 %></td>
    <td><%= @sumam9 %></td>
    <td><%= @sumah9 %></td>
  </tr>
  <tr>
    <td>45 - 49</td>
    <td><%= @sumat10 %></td>
    <td><%= @sumam10 %></td>
    <td><%= @sumah10 %></td>
  </tr>
  <tr>
    <td>50 - 54</td>
    <td><%= @sumat11 %></td>
    <td><%= @sumam11 %></td>
    <td><%= @sumah11 %></td>
  </tr>
  <tr>
    <td>55 - 59</td>
    <td><%= @sumat12 %></td>
    <td><%= @sumam12 %></td>
    <td><%= @sumah12 %></td>
  </tr>
  <tr>
    <td>60 - 64</td>
    <td><%= @sumat13 %></td>
    <td><%= @sumam13 %></td>
    <td><%= @sumah13 %></td>
  </tr>
  <tr>
    <td>65 - 69</td>
    <td><%= @sumat14 %></td>
    <td><%= @sumam14 %></td>
    <td><%= @sumah14 %></td>
  </tr>
  <tr>
    <td>70 - Más</td>
    <td><%= @sumat15 %></td>
    <td><%= @sumam15 %></td>
    <td><%= @sumah15 %></td>
  </tr>
</table>
</br>
</br>
    <%= link_to 'Reg_Inst.1/R01', new_institution_one_reg_institution_path(@institution), :class => "btn" %>
</br>
</br>
<% @institution.one_reg_institutions.each do |a| %>
    <p>
      <b>Objetivo Social Acorde:</b></br>
        <% if a.according_social_purpose == TRUE%>
            Sí
        <%else%>
            No
        <%end%>
    </p>
    <p>
      <b>Sexo de Beneficiarios:</b></br>
        <%= Sex.find(a.people_sex).name%>
    </p>
    <p>
      <b>Edad Mínima:</b></br>
        <%= a.min_age%>
    </p>
    <p>
      <b>Edad Máxima:</b></br>
        <%= a.max_age%>
    </p>
    <p>
      <b>Capacidad:</b></br>
        <%= a.capacity%>
    </p>
    <p>
      <b>Población Objetivo:</b></br>
      <%= PublicTarget.find(a.public_target_id).name%>
    </p>
    </br>
    <%#= link_to "Editar Reg-Inst.1/R01", [@institution, a], :method => :edit %>
    <%#= link_to "Borrar Reg-Inst.1/R01", [@institution, a], :method => :delete, :confirm => "Esta usted seguro?" %>
<%end%>
</br>
</br>
   <%# link_to 'Reg_Inst.2/R01', new_institution_one_reg_institution_path(@institution), :class => "btn" %>
<!--</br>
</br>
</br> -->

<div class="btn-group">
    <%= gmaps("map_options" =>{:auto_zoom => false, :zoom => 7},"markers" => {"data" => @json}) %>
</div>
