<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @institution.name %>
</p>
<p>
  <b>Dirección:</b>
  <%= @institution.address %>  <%= @institution.external_address_number %>
</p>
<p>
  <b>Colonia:</b>
  <%= @institution.second_address %>
</p>

<p>
  <b>Código Postal:</b>
  <%= @institution.zip_code %>
</p>

<p>
  <b>Teléfono:</b>
  <%= @institution.phone %>
</p>
</br>
<%= link_to 'Reg_Inst.1/R01', new_institution_one_reg_institution_path(@institution), :class => "btn" %>
</br>
<% @institution.one_reg_institutions.each do |a| %>
    <p>
      <b>Objetivo Social Acorde:</b>
        <%= a.according_social_purpose%>
    </p>
    <p>
      <b>Sexo de Beneficiarios:</b>
        <%= a.people_sex%>
    </p>
    <p>
      <b>Edad Mínima:</b>
        <%= a.min_age%>
    </p>
    <p>
      <b>Edad Máxima:</b>
        <%= a.max_age%>
    </p>
    <p>
      <b>Capacidad:</b>
        <%= a.capacity%>
    </p>
    <p>
      <b>Población Objetivo:</b>
      <%= a.public_target.name%>
    </p>
    </br>
    <%=link_to "Editar Reg-Inst.1/R01", [@institution, a], :method => :edit %>
<%end%>
</br>
</br>
<%= link_to 'Reg_Inst.2/R01', new_institution_one_reg_institution_path(@institution), :class => "btn" %>
</br>
</br>
</br>

<div class="btn-group">
    <%= gmaps("map_options" =>{:auto_zoom => false, :zoom => 7},"markers" => {"data" => @json}) %>
</div>
</br>
<div class="btn-group">
  <% if can? :update, @critical_success_factor %>
      <%= link_to 'Editar', edit_institution_path(@institution), :class => "btn" %>
  <% end %>
  <%= link_to 'Regresar', institutions_path, :class => "btn" %>
</div>