<p id="notice" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"><%= notice %></p>
</br>
<div class="btn-group">
  <% if can? :update, @institution %>
      <%= link_to 'Editar', edit_institution_path(@institution), :class => "btn" %>
  <% end %>
  <%= link_to 'Regresar', institutions_path, :class => "btn" %>
</div>
</br>
<table class="table table-striped">
  <thead>
    <h4>Datos Fiscales</h4>
  </thead>
  <tr>
    <th>
      Nombre o Denominación Social
    </th>
    <th>
      Tipo de Persona
    </th>
  </tr>
  <tr>
    <td>
      <%= @institution.name %>
    </td>
    <td>
      <%= @institution.type_person.name %>
    </td>
  </tr>
</table>
<table class="table table-striped">
  <tr>
    <th>
      Nombre del Representante o Responsable Legal
    </th>
  </tr>
  <tr>
    <td>
      <%= @institution.legal_name%> <%= @institution.legal_last_name%> <%= @institution.legal_second_last_name%>
    </td>
  </tr>
</table>
<table class="table table-striped">
  <tr>
    <th>
      Teléfono
    </th>
    <th>
      RFC
    </th>
  </tr>
  <tr>
    <td>
      <%= @institution.phone %>
    </td>
    <td>
      <%= @institution.rfc %>
    </td>
  </tr>
  <tr>
    <th>
      Estado
    </th>
    <th>
      Pais
    </th>
  </tr>
  <tr>
    <td>
      <%= @institution.town.name %>
    </td>
    <td>
      <%= @institution.town.name %>
    </td>
  </tr>
  <tr>
    <th>
      Municipio
    </th>
    <th>
      Localidad
    </th>
  </tr>
  <tr>
    <td>
      <%= @institution.town.name %>
    </td>
    <td>
      <%= @institution.town.name %>
    </td>
  </tr>
  <tr>
    <th>
      Calle
    </th>
    <th>
      Numero
    </th>
  </tr>
  <tr>
    <td>
      <%= @institution.address%>
    </td>
    <td>
      <%= @institution.external_address_number %>
    </td>
  </tr>
  <tr>
    <th>
      Colonia
    </th>
    <th>
      Código Postal
    </th>
  </tr>
  <tr>
    <td>
      <%= @institution.second_address%>
    </td>
    <td>
      <%= @institution.zip_code %>
    </td>
  </tr>
  <tr>
    <th>
      Giro
    </th>
    <th>
      Correo Electrónico
    </th>
  </tr>
  <tr>
    <td>
      <%= @institution.business_line.name%>
    </td>
    <td>
      <%= @institution.email %>
    </td>
  </tr>
</table>
</br>
<%= link_to 'Reg_Inst.1/R01', new_institution_one_reg_institution_path(@institution), :class => "btn" %>
</br>
</br>
<div>
  <%=  render 'one_reg_institution_fields'%>
</div>
</br>
<table class="table table-striped">
  <thead>
      <h4>Datos Generales de la Población</h4>
  </thead>
</table>

<table class="table table-striped">
  <%obtenerdatosgenerales%>
  <thead>
      <h5><i>Total de Residentes:  <%= @totales%></i></h5>
  </thead>
  </br>
  <tr>
    <th></th>
    <th>Tutela Publica</th>
    <th>Tutela Particular</th>
    <th>Edad Laboral</th>
    <th>Edad Escolar</th>
  </tr>
    <td><b>Mujeres</b></td>
    <td><%= @sumtpubm%></td>
    <td><%= @sumtprivm%></td>
    <td><%= @sumelabm%></td>
    <td><%= @sumeescolm%></td>
  <tr>
    <td><b>Hombres</b></td>
    <td><%= @sumtpubh%></td>
    <td><%= @sumtprivh%></td>
    <td><%= @sumelabh%></td>
    <td><%= @sumeescolh%></td>
  </tr>
</table>
</br>
</br>
<%= link_to 'Escolaridad', new_institution_school_age_path(@institution), :class => "btn" %>
</br>
</br>
<%= render 'schoolarship_fields' %>
</br>
</br>
<%= link_to 'Población', new_institution_age_population_path(@institution), :class => "btn" %>
</br>
</br>
<%= render 'population_fields' %>
</br>
</br>

<div class="btn-group">
    <%= gmaps("map_options" =>{:auto_zoom => false, :zoom => 7},"markers" => {"data" => @json}) %>
</div>
