<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @condition.description %>
</p>

<p>
  <b>Initial value:</b>
  <%= @condition.initial_value %>
</p>

<p>
  <b>Final value:</b>
  <%= @condition.final_value %>
</p>


<%= link_to 'Edit', edit_condition_path(@condition) %> |
<%= link_to 'Back', conditions_path %>
