<h1>Listing people_by_rooms</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Point</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people_by_rooms.each do |people_by_room| %>
  <tr>
    <td><%= people_by_room.description %></td>
    <td><%= people_by_room.point %></td>
    <td><%= link_to 'Show', people_by_room %></td>
    <td><%= link_to 'Edit', edit_people_by_room_path(people_by_room) %></td>
    <td><%= link_to 'Destroy', people_by_room, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New People by room', new_people_by_room_path %>
