<%= form_for(@office) do |f| %>
  <% if @office.errors.any? %>
        <div id="error_explanation" xmlns="http://www.w3.org/1999/html">
      <h2><%= pluralize(@office.errors.count, "error") %> prohibited this office from being saved:</h2>

      <ul>
      <% @office.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br />
  <input type="checkbox" name="modtype"  value="value1" onclick="showMe('div2', this)" /> Oficio Externo?  </br>

  <div class="field">
    <%= f.label :direction_id, "Dirección" %>
    <%= f.collection_select :direction_id,  Direction.order("name").all, :id, :name, options ={:prompt => "-- Selecciona la Direccion --"}%>
  </div>
  <div id="div2" style="display:none">
    <%= f.label :external_office_number, "No. Oficio Externo" %>
    <%= f.text_field :external_office_number %>

    <%= f.label :office_date, "Fecha del Oficio" %>
    <%= f.datepicker :office_date, :dateFormat => "dd-mm-yy" %>

    <%= f.label :office_recive_date, "Fecha de Recepción del Oficio" %>
    <%= f.datepicker :office_recive_date, :dateFormat => "dd-mm-yy" %>

    <%= f.label :to, "Officio dirigido originalmente a:" %>
    <%= f.text_field :to %>

    <%= f.label :avatar, "Archivo Original" %>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :record_no, "No. Expediente" %>
    <%= f.text_field :record_no %>
  </div>
  <div class="field">
    <%= f.label :department_id, "Para" %>
    <%= f.collection_select :department_id,  Department.order("name").find_all_by_direction_id(@office.direction_id), :id, :name, options ={:prompt => ""} %>
  </div>
  <div class="field">
    <%= f.label :name, "Asunto" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :observations, "Detalle" %>
    <%= f.text_area :observations %>
  </div>
  <div class="field">
    <%= f.label :program_id, "Programa" %>
    <%= f.collection_select :program_id, Program.find_all_by_department_id( current_user.department_id).sort_by{ |k| k['description'] }  , :id, :description, options ={:prompt => "-- Selecciona un Programa --"}, :class=>"ddl_width" %>
  </div>
  <div class="field">
    <%= f.label "Apoyo Solicitado" %>
    <%= fill_activity_type_select_of(f) %>
  </div>

  <div class="field">
    <%= f.label :person_id, "Atentamente," %>
    <%= f.autocomplete_field :person, autocomplete_person_last_name_offices_path, :id_element => '#office_person_id'%>
    <%= f.hidden_field :person_id%>
    <%= f.hidden_field :status_id, :value => 2%>
  </div>

  <div class="field">
    <%= f.label :priority_id, "Prioridad" %>
    <%= f.collection_select :priority_id,  Priority.order("id").all, :id, :name, options ={:prompt => "-- Selecciona Prioridad --"}%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
