<%= form_for(@office) do |f| %>
  <% if @office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@office.errors.count, "error") %> prohibited this office from being saved:</h2>

      <ul>
      <% @office.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br />
  <input type="checkbox" name="modtype"  value="value1" onclick="showMe('div2', this)" /> Oficio Externo?  </br>

  <div class="field">
    <%= f.label :direction_id, "Dirección" %>
    <%= f.collection_select :direction_id,  Direction.order("name").all, :id, :name, options ={:prompt => "-- Selecciona el Direccion --"}%>
  </div>
  <div id="div2" style="display:none">
    <%= f.label :external_office_number, "No. Oficio Externo" %>
    <%= f.text_field :external_office_number %>

    <%= f.label :office_date, "Fecha del Oficio" %>
    <%= f.datepicker :office_date, :dateFormat => "dd-mm-yy" %>

    <%= f.label :office_recive_date, "Fecha de Recepción del Oficio" %>
    <%= f.datepicker :office_recive_date, :dateFormat => "dd-mm-yy" %>

    <%= f.label :avatar, "Archivo Original" %>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :record_no, "No. Expediente" %>
    <%= f.text_field :record_no %>
  </div>
  <div class="field">
    <%= f.label :type_id, "Tipo de Oficio" %>
    <%= f.number_field :type_id %>
  </div>

  <div class="field">
    <%= f.label :user_id, "Para" %>
    <%= f.select :user_id, User.order("name").all.collect{ |c| [c.name.to_s + ' ' + c.last_name.to_s + ' ' + c.second_last_name.to_s, c.id] }, {:include_blank => "-- Selecciona un Destinatario --"} %>
  </div>
  <div class="field">
    <%= f.label :name, "Asunto" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :observations, "Detalle" %>
    <%= f.text_area :observations %>
  </div>
  <div class="field">
    <%= f.label :program_id, "Programa" %>
    <%= f.collection_select :program_id, Program.find_all_by_department_id( current_user.department_id).sort_by{ |k| k['description'] }  , :id, :description, options ={:prompt => "-- Selecciona un Programa --"}, :class=>"ddl_width" %>
  </div>
  <div class="field">
    <%= f.label "Apoyo Solicitado" %>
    <%= fill_activity_type_select_of(f) %>
  </div>
  <div class="field">
    <%= f.label :person_id, "Atentamente," %>
    <%= f.autocomplete_field :person, autocomplete_person_last_name_offices_path %>
    <%= f.select :person_id, Person.order("name").all.collect{ |c| [c.name.to_s + ' ' + c.last_name.to_s + ' ' + c.second_last_name.to_s, c.id] }, {:include_blank => "-- Selecciona un Destinatario --"} %>
  </div>

  <div class="field">
    <%= f.label :priority_id, "Prioridad" %>
    <%= f.number_field :priority_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
