<h3>Listado de Oficios Dispobibles</h3>
</br>
<input type="checkbox" name="modtype"  value="value1" onclick="showMe('div1', this)" /> Buscar  </br>
<div id="div1" style="display:none">
  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :internal_office_number_cont, "Buscar Oficio No" %>
      <%= f.text_field :internal_office_number_cont %>
    </div>
    <div class="actions"><%= f.submit "Buscar" %></div>
  <% end %>
</div>
</br>
<%= link_to 'Nuevo Oficio', new_office_path, :class => "btn" %>
</br>
<div style="OVERFLOW: auto; WIDTH: 100%; HEIGHT: 100%">
<table class="table table-striped">
  <thead>
      <tr>
        <th><%= sort_link(@search, :internal_office_number, "No. Oficio")%></th>
        <th>De</th>
        <th>Para</th>
        <th>Dirección</th>
        <th><%= sort_link @search, :department_id, "Departamento" %></th>
        <th><%= sort_link @search, :priority_id, "Prioridad" %></th>
        <th><%= sort_link @search, :status_id, "Estatus" %></th>
        <th><%= sort_link @search, :created_at, "Fecha de Creación" %></th>
        <th>Fecha de Revisión</th>
      </tr>
  </thead>

  <% @offices.each do |office| %>
  <tr>

    <td><%= office.internal_office_number %></td>
    <td>
      <%if office.type_id == 1%>
          <%= Person.find(office.person_id).fullname  %>
      <%elsif office.type_id == 2%>
          <%= Institution.find(office.institution_id).fullname%>
      <%end%>
    </td>
    <td><%= User.find(office.department.user_id).fullname %></td>
    <td><%= office.department.direction.name %></td>
    <td><%= office.department.name %></td>
    <td><%= Priority.find(office.priority_id).name %></td>
    <td><%= office.status.name %></td>
    <td><%= office.created_at.to_date %></td>
    <td><% office.office_records.each do |x| %>
            <%= x.created_at.to_date%>  <%= x.user.fullname%>
        <%end%>
    </td>
    <td><%= link_to 'Ver', office %></td>
    <td><%= link_to 'Editar', edit_office_path(office) %></td>
  </tr>
<% end %>
</table>
  <div class="pager">
    <%= paginate @offices %>
  </div>
</div>



