<p id="notice" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
   xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
   xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<p>
  <b>Dirección:</b>
  <%= @office.direction.name %>
</p>

<p>
  <b>No. Oficio Interno:</b>
  <%= @office.internal_office_number %>
</p>

<%if @office.external_office_number.blank? or @office.external_office_number.nil?%>
<%else%>
    <p>
      <b>No Oficio Externo:</b>
      <%= @office.external_office_number %>
    </p>
    <p>
        <b>Fecha de Oficio:</b>
        <%= @office.office_date.to_date %>
    </p>
    <p>
      <b>Fecha de Recepcion del Oficio:</b>
      <%= @office.office_recive_date.to_date %>
    </p>
    <p>
      <b>Oficio originalmente dirigido a:</b>
      <%= @office.to %>
    </p>
<%end%>
<p>
  <b>No. Expediente:</b>
  <%= @office.record_no %>
</p>
<p>
  <b>Prioridad:</b>
  <%= Priority.find(@office.priority_id).name %>
</p>
</br>
</br>
<p>
  <b><%= User.find(@office.user_id).fullname %></b></br>
  <i><%= @office.department.name %> </i>
</p>
</br>
</br>
<p>
  <b>Asunto:</b></br>
  <%= @office.name %>
</p>

<p>
  <b>Información:</b></br>
  <%= @office.observations %>
</p>
</br>
<p>
  <b>Apoyos Solicitados:</b></br>
  <%= @office.activity_type.name %>
</p>
</br></br>
<p>
  <b>Atentamente:</b></br>
  <%if @office.type_id == 1%>
    <%= Person.find(@office.person_id).fullname  %>
  <%else%>
    <%= Institution.find(@office.institution_id).legal_name  %> <%= Institution.find(@office.institution_id).legal_last_name%> <%= Institution.find(@office.institution_id).legal_second_last_name%></br>
    <%= Institution.find(@office.institution_id).name  %>
  <%end%>
</p>
</br>
<p>--------------------------------------------------</p>
</br>
<%if @office.status_id <= 3 %>
    <%= link_to 'Atender', new_office_office_record_path(@office), :class => "btn" %>
    <%= link_to 'Reasiganar', new_office_office_allocation_path(@office), :class => "btn" %>
<%end%>
<%if @office.status_id == 3 %>
    | <td><%= link_to 'Finalizar', "end_office/" + @office.id.to_s, confirm: 'Esta Usted Seguro?', :class => "btn" %></td>
<%end%>
</br>
</br>
<p>
  <b>Reasignaciones:</b>
</p>
<% x = params[:page]  #ISC Christian Alderete
   #subpaginate for acitivies into activity_types
   w = 0
   y = 20

   if x.nil?
     w = 0
     y = 19
   else
     y = y.to_i * x.to_i
     w = y.to_i - 20
   end
   @office.office_allocations[w..y].each do |reasignacion|
%>
    <p>
      <%if reasignacion.location_status == 1 %>
        <b> <%=User.find(reasignacion.move_by_user_id).fullname%></b> asigno a: <b><%= reasignacion.user.fullname%></b> el oficio hace - <%= time_ago_in_words reasignacion.created_at %> - </br>
        <%= reasignacion.infot %></br> </br>
      <%else %>
          <b> <%=User.find(reasignacion.move_by_user_id).fullname%></b> asigno a: <b><%= reasignacion.to%></b> de <b><%= reasignacion.place%></b> el oficio hace - <%= time_ago_in_words reasignacion.created_at %> - </br>
          <%= reasignacion.infot %></br> </br>
      <%end%>
    </p>
<%end%>
<br />
<div class="pager">
  <%= paginate @allocationpage %>
</div>

</br>
<p>
  <b>Atenciones:</b>
</p>
<% x = params[:page]  #ISC Christian Alderete
   #subpaginate for acitivies into activity_types
   w = 0
   y = 20

   if x.nil?
     w = 0
     y = 19
   else
     y = y.to_i * x.to_i
     w = y.to_i - 20
   end
   @office.office_records[w..y].each do |atenciones|
%>
    <p>
      <b><%= atenciones.user.fullname %></b> Comento hace - <%= time_ago_in_words atenciones.created_at %> - </br>
      <%= atenciones.info %></br> </br>
    </p>
<%end%>
<br />

<div class="pager">
  <%= paginate @recordpage %>
</div>

</br>
</br>

<%= link_to 'Editar', edit_office_path(@office) %> |
<%= link_to 'Regresar', offices_path %>
