<%= form_for(@priority_program_goal) do |f| %>
  <% if @priority_program_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@priority_program_goal.errors.count, "error") %> prohibited this priority_program_goal from being saved:</h2>

      <ul>
      <% @priority_program_goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :hirarchy %><br />
    <%= f.number_field :hirarchy %>
  </div>
  <div class="field">
    <%= f.label :priority_program_id %><br />
    <%= f.number_field :priority_program_id %>
  </div>
    <div class="field">
	<%= f.label :priority_program_id, "Programa Prioritario al que pertenece" %><br />
	<%= f.select :priority_program_id, PriorityProgram.all.collect{ |c| [c.name, c.id] }, {:include_blank => "-- Seleccione un Identificador --"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
