<h1>Listing priority_program_goals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Hierarchy</th>
    <th>Priority program</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @priority_program_goals.each do |priority_program_goal| %>
  <tr>
    <td><%= priority_program_goal.name %></td>
    <td><%= priority_program_goal.description %></td>
    <td><%= priority_program_goal.hierarchy %></td>
    <td><%= priority_program_goal.priority_program_id %></td>
    <td><%= link_to 'Show', priority_program_goal %></td>
    <td><%= link_to 'Edit', edit_priority_program_goal_path(priority_program_goal) %></td>
    <td><%= link_to 'Destroy', priority_program_goal, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Priority program goal', new_priority_program_goal_path %>
