<p id="notice"><%= notice %></p>

<p>
  <b>Objetivos:</b></br>
  <%= @priority_program_goal.name %>: <%= @priority_program_goal.description %>
</p>

<br/>
<p>
  <b>Estrategias:</b>
</p>

<% @priority_program_goal.priority_program_strategies.each do |strategy| %>
	<ul>
		<li>
			<%= link_to strategy.name, priority_program_strategy_path(strategy.id)%>: <%= strategy.description%>
		</li>
	</ul>
<%end%>
</br>


<% if can? :update, @priority_program_goal %>
	<%= link_to 'Editar Objetivo', edit_priority_program_goal_path(@priority_program_goal) %> |
<% end %>
<%= link_to 'Listado de Objetivos', priority_program_goals_path %>
