<%= form_for(@statistical_map) do |f| %>
  <% if @statistical_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statistical_map.errors.count, "error") %> prohibited this statistical_map from being saved:</h2>

      <ul>
      <% @statistical_map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :county_id, "Municipio" %><br />
    <%= f.collection_select :county_id,  County.where(:state_id => 8).order("name"), :cve_mun, :name, options ={:prompt => "-- Selecciona --"}, :id => "county_id" %>
  </div>
  
  <div class="field">
    <%= f.label :town_id, "Localidad" %><br />
    <%= f.collection_select :town_id,  Town.where(:county_id => @statistical_map.county_id, :state_id => 8), :id, :name, options ={:prompt => ""}, :id => "town_id" %>
  </div>
  
  <%content_for :scripts do %>
  <%= gmaps4rails(@json) %>
  <% end %>
  
<% end %>
