<%= form_for(@direction) do |f| %>
  <% if @direction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@direction.errors.count, "error") %> prohibited this direction from being saved:</h2>

      <ul>
      <% @direction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    </br>
  <div class="field">
    <%= f.label :name, "Nombre de la Dirección" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :user_id, "Nombre del Director" %>
    <%= f.collection_select :user_id,  User.order("name").all, :id, :fullname, options ={:prompt => "-- Seleccione Usuario --"}, :class => "span5"%>
  </div>
    </br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
