<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :avatar, "Foto" %>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :last_name, "Apellido Paterno" %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :second_last_name, "Apellido Materno" %>
    <%= f.text_field :second_last_name %>
  </div>
  <div class="field">
    <%= f.label :marital_status_id, "Estado Civil" %>
    <%= f.text_field :marital_status_id %>
  </div>
  <div class="field">
    <%= f.label :sex, "Sexo" %>
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :ethnic_group_id, "Grupo Etnico" %>
    <%= f.text_field :ethnic_group_id %>
  </div>
  <div class="field">
    <%= f.label :birthday, "Fecha de Nacimiento" %>
    <%= f.datepicker :birthday, :dateFormat => "dd-mm-yy" %>
  </div>
  <div class="field">
    <%= f.label :county_id, "Municipio de Nacimiento" %>
    <%= f.collection_select :county_id,  County.order("name").where(:state_id => 8).order("name"), :cve_mun, :name, options ={:prompt => "-- Selecciona --"}, :id => "county_id" %>
  </div>
  <div class="field">
    <%= f.label :born_town_id, "Localidad de Nacimiento" %>
    <%= f.collection_select :born_town_id,  Town.order("name").where(:county_id => @person.county_id, :state_id => 8), :id, :name, options ={:prompt => ""}, :id => "born_town_id" %>
  </div>
  Dirección
  <div class="field">
    <%= f.label :county_id_2, "Municipio" %>
    <%= f.collection_select :county_id_2,  County.order("name").where(:state_id => 8).order("name"), :cve_mun, :name, options ={:prompt => "-- Selecciona --"}, :id => "county_id_2" %>
  </div>
  <div class="field">
    <%= f.label :town_id, "Localidad" %>
    <%= f.collection_select :town_id,  Town.order("name").where(:county_id => @person.county_id, :state_id => 8), :id, :name, options ={:prompt => ""}, :id => "town_id" %>
  </div>
  <div class="field">
    <%= f.label :address, "Dirección" %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :address_two, "Colonia" %>
    <%= f.text_field :address_two %>
  </div>
  <div class="field">
    <%= f.label :code_area, "lada" %>
    <%= f.text_field :code_area %>
  </div>
  <div class="field">
    <%= f.label :phone, "Teléfono" %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :cel_phone, "Celular" %>
    <%= f.text_field :cel_phone %>
  </div>
  <div class="field">
    <%= f.label :emergency_phone, "Teléfono de Emergencia" %>
    <%= f.text_field :emergency_phone %>
  </div>
  <div class="field">
    <%= f.label :email, "Correo Electrónico" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :rfc, "RFC" %>
    <%= f.text_field :rfc %>
  </div>
  <div class="field">
    <%= f.label :curp, "CURP" %>
    <%= f.text_field :curp %>
  </div>
  <div class="field">
    <%= f.label :email, "Correo Electrónico" %>
    <%= f.text_field :email %>
  </div>
  <input type="checkbox" name="modtype"  value="value1" onclick="showMe('div3', this)" /> Datos del tutor  </br>
  <div id="div3" style="display:none">
      <div class="field">
        <%= f.label :tutor, "Tutor" %>
        <%= f.text_field :tutor %>
      </div>
      <div class="field">
        <%= f.label :tutor_relationship_id, "Parentesco" %>
        <%= f.text_field :tutor_relationship_id %>
      </div>
      <div class="field">
        <%= f.label :tutor_marital_status_id, "Estado Civil" %>
        <%= f.text_field :tutor_marital_status_id %>
      </div>
      <div class="field">
        <%= f.label :medical_service_id, "Servicio Médico" %>
        <%= f.text_field :medical_service_id %>
      </div>
  </div>
  <input type="checkbox" name="modtype"  value="value1" onclick="showMe('div1', this)" /> Sabe leer?  </br>
  <div id="div1" style="display:none">
      <div class="field">
        <%= f.label :student, "Estudia?" %>
        <%= f.text_field :student %>
      </div>
      <div class="field">
        <%= f.label :reader, "Sabe Leer?" %>
        <%= f.text_field :reader %>
      </div>
      <div class="field">
        <%= f.label :schooling, "Escolaridad" %>
        <%= f.text_field :schooling %>
      </div>
      <div class="field">
        <%= f.label :school_type_id, "Donde Estudio?" %>
        <%= f.text_field :school_type_id %>
      </div>
      <div class="field">
      </div>
        <%= f.label :worker, "Trabaja?" %>
        <%= f.text_field :worker %>
      </div>
      <div class="field">
        <%= f.label :job, "Lugar donde Labora" %>
        <%= f.text_field :job %>
      </div>
      <div class="field">
        <%= f.label :self_employment, "Es Autoempleo?" %>
        <%= f.text_field :self_employment %>
      </div>
      <div class="field">
        <%= f.label :occupation, "Tiene algún Oficio" %>
        <%= f.text_field :occupation %>
      </div>
      <div class="field">
        <%= f.label :job_seeker, "Desea pertenecer a la bolsa de trabajo?" %>
        <%= f.text_field :job_seeker %>
      </div>

    <input type="checkbox" name="modtype"  value="value1" onclick="showMe('div2', this)" /> Cuenta con alguna discapacidad?  </br>
    <div id="div2" style="display:none">
      <div class="field">
        <%= f.label :discapacity_status, "Cuenta con algúna Discapacidad" %>
        <%= f.text_field :discapacity_status %>
      </div>
      <div class="field">
        <%= f.label :diagnosis, "Cuenta con Diagnóstico" %>
        <%= f.text_field :diagnosis %>
      </div>
      <div class="field">
        <%= f.label :diagnosis_description, "Diagnóstico" %>
        <%= f.text_area :diagnosis_description %>
      </div>
      <div class="field">
        <%= f.label :discapacity_origin_id, "Origen de la discapacidad" %>
        <%= f.text_field :discapacity_origin_id %>
      </div>
      <div class="field">
        <%= f.label :discapacity_origin_year, "Indique el año de origen" %>
        <%= f.text_field :discapacity_origin_year %>
      </div>
      <div class="field">
        <%= f.label :observations, "Observaciones" %>
        <%= f.text_field :observations %>
      </div>
      <div class="field">
        <%= f.label :funcional_support, "Utiliza apoyos funcionales?" %>
        <%= f.text_field :funcional_support %>
      </div>
  </div>
  </br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
    function showMe (it, box) {
    var vis = (box.checked) ? "block" : "none";
    document.getElementById(it).style.display = vis;
    }
</script>