<h1>Informacion</h1>
<p>
  <%= image_tag @person.avatar.url(:medium) %>
</p>

<p>
  <b>Nombre:</b>
  <%= @person.fullname %></br>
  <b>Direccion:</b>
  <%= @person.address %></br>
  <b>Telefono de Emergencia:</b>
  <%= @person.emergency_phone %></br>
  <b>Tutor:</b>
  <%= @person.tutor %></br>
  <b> Discapacidad: <%= "Niguna" unless @person.discapacities.count>0  %></b>
  <ul>
    <% @person.discapacities.each do |discapacity| %>
    <li>
      <%= discapacity.name %>
    </li>
    <% end %>
  </ul>
    <b> Aparatos Funcionales: <%= "Niguno" unless @person.functional_supports.count>0  %></b>
    <ul>
      <% @person.functional_supports.each do |functional_support| %>
          <li>
            <%= functional_support.name %>
          </li>
      <% end %>
    </ul>
</p>
<% percentage = (@person.documentations.count * 100) / Documentation.where("belongs = 1 or belongs = 3").count %>
<h3> Documentos Presentados: <%= percentage %>%</h3>
<table>
  <tr>
    <th></th>
  </tr>

  <% @person.documentations.each do |document| %>
      <tr>
        <td>
          <%= document.name %>
        </td>
        <td>
        </td>
      </tr>
  <% end %>
</table>

<h3> Familiares </h3>
<table>
  <tr>
    <th></th>
  </tr>

  <% @person.families.each do |family| %>
      <tr>
        <td>
          <%= family.kin.fullname %>
        </td>
        <td>
          <%= family.relationship.name %>
        </td>
        <td>
        </td>
      </tr>
  <% end %>
</table>
</br>

<div class="btn-group">
  <%= gmaps("map_options" =>{:auto_zoom => false, :zoom => 7},"markers" => {"data" => @json}) %>
</div>

<% if can? :update, @person %>
    <%= link_to 'Editar', edit_person_path(@person) %> |
<% end %>
<%= link_to 'Registro de Personas', people_path %>
