<h1>Listado de Estudios Socioeconomicos</h1>

<table>
  <tr>
    <th>Nombre</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @socioeconomic_studies.each do |socioeconomic_study| %>
  <tr>
    <td><%= Person.find(socioeconomic_study.person_id).fullname %></td>

    <td><%= link_to 'Mostrar', socioeconomic_study %></td>
    <td><%= link_to 'Editar', edit_socioeconomic_study_path(socioeconomic_study) %></td>
    <td><%= link_to 'Eliminar', socioeconomic_study, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Estudio Socioeconomico', new_socioeconomic_study_path %>
