<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @socioeconomic_study.person_id %>
</p>

<p>
  <b>Family history:</b>
  <%= @socioeconomic_study.family_history %>
</p>

<p>
  <b>Labor company:</b>
  <%= @socioeconomic_study.labor_company %>
</p>

<p>
  <b>Labor work seniority:</b>
  <%= @socioeconomic_study.labor_work_seniority %>
</p>

<p>
  <b>Labor time:</b>
  <%= @socioeconomic_study.labor_time %>
</p>

<p>
  <b>Spending food:</b>
  <%= @socioeconomic_study.spending_food %>
</p>

<p>
  <b>Spending auto:</b>
  <%= @socioeconomic_study.spending_auto %>
</p>

<p>
  <b>Spending rent:</b>
  <%= @socioeconomic_study.spending_rent %>
</p>

<p>
  <b>Spending monthly payment:</b>
  <%= @socioeconomic_study.spending_monthly_payment %>
</p>

<p>
  <b>Spending education:</b>
  <%= @socioeconomic_study.spending_education %>
</p>

<p>
  <b>Spending payment:</b>
  <%= @socioeconomic_study.spending_payment %>
</p>

<p>
  <b>Spending other:</b>
  <%= @socioeconomic_study.spending_other %>
</p>

<p>
  <b>Service water:</b>
  <%= @socioeconomic_study.service_water %>
</p>

<p>
  <b>Service electricity:</b>
  <%= @socioeconomic_study.service_electricity %>
</p>

<p>
  <b>Service drainage:</b>
  <%= @socioeconomic_study.service_drainage %>
</p>

<p>
  <b>Service phone:</b>
  <%= @socioeconomic_study.service_phone %>
</p>

<p>
  <b>Service paving:</b>
  <%= @socioeconomic_study.service_paving %>
</p>

<p>
  <b>Service transportation:</b>
  <%= @socioeconomic_study.service_transportation %>
</p>

<p>
  <b>Service gas:</b>
  <%= @socioeconomic_study.service_gas %>
</p>

<p>
  <b>Housing feature:</b>
  <%= @socioeconomic_study.housing_feature_id %>
</p>

<p>
  <b>Construction material wall:</b>
  <%= @socioeconomic_study.construction_material_wall %>
</p>

<p>
  <b>Construction material roof:</b>
  <%= @socioeconomic_study.construction_material_roof %>
</p>

<p>
  <b>Construction material floor:</b>
  <%= @socioeconomic_study.construction_material_floor %>
</p>

<p>
  <b>Number of room:</b>
  <%= @socioeconomic_study.number_of_room_id %>
</p>

<p>
  <b>People by room:</b>
  <%= @socioeconomic_study.people_by_room_id %>
</p>

<p>
  <b>Condition:</b>
  <%= @socioeconomic_study.condition_id %>
</p>

<p>
  <b>Stove:</b>
  <%= @socioeconomic_study.stove %>
</p>

<p>
  <b>Phone:</b>
  <%= @socioeconomic_study.phone %>
</p>

<p>
  <b>Dvd:</b>
  <%= @socioeconomic_study.dvd %>
</p>

<p>
  <b>Fridge:</b>
  <%= @socioeconomic_study.fridge %>
</p>

<p>
  <b>Microweave:</b>
  <%= @socioeconomic_study.microweave %>
</p>

<p>
  <b>Air conditioning:</b>
  <%= @socioeconomic_study.air_conditioning %>
</p>

<p>
  <b>Health:</b>
  <%= @socioeconomic_study.health %>
</p>

<p>
  <b>Family dinamyc:</b>
  <%= @socioeconomic_study.family_dinamyc %>
</p>

<p>
  <b>Environment:</b>
  <%= @socioeconomic_study.environment %>
</p>

<p>
  <b>Children education:</b>
  <%= @socioeconomic_study.children_education %>
</p>

<p>
  <b>Neighbor references:</b>
  <%= @socioeconomic_study.neighbor_references %>
</p>

<p>
  <b>Heritage assets:</b>
  <%= @socioeconomic_study.heritage_assets %>
</p>

<p>
  <b>Study person name:</b>
  <%= @socioeconomic_study.study_person_name %>
</p>

<p>
  <b>Study place:</b>
  <%= @socioeconomic_study.study_place %>
</p>

<p>
  <b>Relationship:</b>
  <%= @socioeconomic_study.relationship_id %>
</p>

<p>
  <b>Total point:</b>
  <%= @socioeconomic_study.total_point %>
</p>

<p>
  <b>Description evaluation general:</b>
  <%= @socioeconomic_study.description_evaluation_general %>
</p>


<%= link_to 'Edit', edit_socioeconomic_study_path(@socioeconomic_study) %> |
<%= link_to 'Back', socioeconomic_studies_path %>
