<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ped_sub_theme.name %>
</p>

<p>
  <b>Description:</b>
  <%= @ped_sub_theme.description %>
</p>


<%= link_to 'Edit', edit_ped_sub_theme_path(@ped_sub_theme) %> |
<%= link_to 'Back', ped_sub_themes_path %>
