<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b></br>
  <%= @ped_sub_theme.name %>
</p>

<br/>
<p>
  <b>Objetivos:</b>
</p>


<% @ped_sub_theme.ped_goals.each do |goal| %>
	<ul>
		<li>
			<%= link_to goal.name, ped_goal_path(goal.id)%>: <%= goal.description%>
		</li>
	</ul>
<%end%>
</br>
<% if can? :update, @ped_sub_theme %>
	<%= link_to 'Edit', edit_ped_sub_theme_path(@ped_sub_theme) %> |
<% end %>
<%= link_to 'Back', ped_sub_themes_path %>
