<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br />
  <div class="field">
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripci贸n" %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :direction_id, "Direcci贸n" %>
    <%= f.collection_select :direction_id,  Direction.all, :id, :name, options ={:prompt => "-- Selecciona la Direccion --"}%>
  </div>
  
  <div class="field">
    <%= f.label :department_id, "Departamento" %>
    <%= f.collection_select :department_id,  Department.find_all_by_direction_id(@program.direction_id), :id, :name, options ={:prompt => ""} %>
  </div>
  <div class="field">
    <%= f.label :responsable_id, "Responsable" %>
    <%= f.select :responsable_id, User.all.collect{ |c| [c.name.to_s + ' ' + c.last_name.to_s + ' ' + c.second_last_name.to_s, c.id] }, {:include_blank => "-- Selecciona un Responsable --"} %>
  </div>
    <div class="field">
    <%= f.label :priority_program_action_line_id, "Linea de Acci贸n del Programa Prioritario a la que Aporta" %>
    <%= f.select :priority_program_action_line_id, PriorityProgramActionLine.all.collect{ |c| [c.name.to_s, c.id] }, {:include_blank => "-- Selecciona una Linea de Acci贸n --"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
