<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripcion" %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :department_id, "Departamento" %><br />
    <%= f.number_field :department_id %>
  </div>
  <div class="field">
    <%= f.label :responsable_id, "Responsable" %><br />
    <%= f.select :responsable_id, User.all.collect{ |c| [c.name.to_s + ' ' + c.last_name.to_s + ' ' + c.second_last_name.to_s, c.id] }, {:include_blank => "-- Selecciona un Responsable --"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
