<h3>Lista de Programas</h3>

<%=  link_to 'Reporte', programs_report_path %>

<br />
<% if can? :create, Program %>
    <%= link_to 'Nuevo Programa', new_program_path, :class => "btn primary" %>
<%end%>
</br>

<table class="table table-striped">
  <thead>
	  <tr>
	  	
	    <th>Programa</th>
	    <th>Descripción</th>
	    <th>Departmento</th>
	    <th>Responsable</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>

<% @programs.each do |program| %>
  <% u = User.find(program.responsable_id) %>
  <tr>
  	
    <td><%= program.name %></td>
    <td><%= program.description %></td>
    <td><%= Department.find(program.department_id).name %></td>
    <td><%= u.name.to_s + ' ' + u.last_name.to_s + ' ' + u.second_last_name.to_s %></td>
    <td><%= link_to 'Acciones', program %></td>
    <% if can? :update, program %>
	    <td><%= link_to(edit_program_path(program)) do %>
	    		<%= image_tag("edit.png") %>
	    	<%end%>
	    </td>
    <%end%>
    <% if can? :destroy, program %>
	    <td><%= link_to(program, :confirm => '¿Esta usted seguro?', :method => :delete, :remote =>true) do %>
	    		<%= image_tag("delete.png") %>
	    	<%end%>
	    </td>
    <%end%>
  </tr>
<% end %>
</table>


