<h3>Lista de Programas</h3>

<table class="table table-striped">
  <thead>
	  <tr>
	  	<th>Departmento</th>
	    <th>Programa</th>
	    <th>Descripción</th>
	    <th>Responsable</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>

<% @programs.each do |program| %>
  <% u = User.find(program.responsable_id) %>
  <tr>
  	<td><%= Department.find(program.department_id).name %></td>
    <td><%= program.name %></td>
    <td><%= program.description %></td>
    <td><%= u.name.to_s + ' ' + u.last_name.to_s + ' ' + u.second_last_name.to_s %></td>
    <td><%= link_to 'Factores', program %></td>
    <td><%= link_to(edit_program_path(program)) do %>
    		<%= image_tag("edit.png") %>
    	<%end%>
    </td>
    <td><%= link_to(program, :confirm => '¿Esta usted seguro?', :method => :delete, :remote =>true) do %>
    		<%= image_tag("delete.png") %>
    	<%end%>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Programa', new_program_path, :class => "btn primary" %>
