<%= form_tag  :action => "program_report", :method => "post" do %>

   <div class="field">
     <%= label :finder, "Busqueda por:" %>
     Programa <%= radio_button("finder", "qty", "one", :checked => true)%>
     Todos los Programas<%= radio_button("finder", "qty", 'all' ) %>
     </br>
    <%= select(:program_id, :program_id, Program.order("name").all.collect{ |p| ["Programa No. " + p.name + " - " + p.description, p.id] }) %>
  </div>
  <div class="field">
   <%= label :start_date, "Fecha Inicio de Actividad" %>
    <%= datepicker :start_date, :start_date,  :dateFormat => "yy-mm-dd" %>

  </div>
  <div class="field">

    <%= label :end_date, "Fecha Fin de Actividad" %>
    <%= datepicker :end_date, :end_date, :dateFormat => "yy-mm-dd"  %>

  </div>
  <div class="field">
    <%= label :finder, "Busqueda por:" %>

    Programa <%= radio_button("finder", "program", "program", :checked => true) %>
    Distrito Judicial <%= radio_button("finder", "program", "pajs")  %>
  </div>
 <%= submit_tag("Buscar") %>
<% end %>