<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @program.name %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @program.description %>
</p>

<p>
  <b>Departmento:</b>
  <%= @program.department_id %>
</p>

<p>
  <b>Responsable:</b>
  <% u = User.find(@program.responsable_id) %>
  <%=  u.name.to_s + ' ' + u.last_name.to_s + ' ' + u.second_last_name.to_s %>
</p>


<%= link_to 'Editar', edit_program_path(@program) %> |
<%= link_to 'Regresar', programs_path %>
