<p>
  <b>Nombre:</b></br>
  <%= @program.name %>
</p>
</br>
<p>
  <b>Descripcion:</b></br>
  <%= @program.description %>
</p>
</br>
<p>
  <b>Departmento:</b></br>
  <%= @program.department.name %>
</p>
</br>
<p>
  <b>Responsable:</b></br>
  <% u = User.find(@program.responsable_id) %>
  <%=  u.name.to_s + ' ' + u.last_name.to_s + ' ' + u.second_last_name.to_s %>
</p>
</br>
<p>
  <b>Acciones Asociadas:</b>
</p>
<% @program.critical_success_factors.each do |csf| %>
	<ul>
		<li>
			<%= link_to csf.title, critical_success_factor_path(csf.id)%>: <%= csf.description%>
		</li>
	</ul>
<% end %>

<br/>

<p>
  <b>Líneas de Acción TOTALES a las que afecta este Programa:</b>
</p>
<% @program.priority_program_action_lines.order(:hierarchy).each do |line| %>
    <ul>
      <li>
        <%= line.name %>:<%= line.description %>
      </li>
    </ul>
<%end%>

</br>
<% if can? :update, @program %>
	<%= link_to 'Editar', edit_program_path(@program) %> |
<% end %>
<%= link_to 'Programas', programs_path %>
