<table>
  <tr>
    <th><h3> Familiares de <%= @person.fullname %>: </h3></th>
  </tr>

  <% @person.families.each do |family| %>
      <tr>
        <td>
          <%= family.kin.fullname %>
        </td>
        <td>
          <%= family.relationship.name %>
        </td>
        <td>
          <%= link_to "Quitar", family, :method => :delete %>
        </td>
      </tr>
  <% end %>
</table>
<br/>
<%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :name_cont, "Descripcion" %>
      <%= f.text_field :name_cont %>
    </div>
    <div class="actions"><%= f.submit "Buscar" %></div>
<% end %>
<table>
  <tr>
    <th>Nombre</th>
    <th></th>
  </tr>

  <% @people.each do |relative| %>
      <tr>
        <td><%= relative.fullname %></td>
        <td><%= link_to 'Show', relative %></td>
      </tr>
  <% end %>
</table>
<%= form_for(@family) do |f| %>
    <% if @family.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@family.errors.count, "error") %> prohibited this family from being saved:</h2>

          <ul>
            <% @family.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :person_id %>
    </div>
    <h3>Agregar Familiar</h3>
    <% if can? :create, Activity %>
        </br>
        <%= link_to 'Agregar Actividad', new_activity_path, :class => "btn primary" %>
    <% end %>
    </br>
    <div class="field">
      <%= f.label :kin_id, "Familiar" %><br />
      <%= f.collection_select :kin_id,  Person.order("last_name").where("last_name like '%#{@person.last_name}%'"), :id, :fullname, options ={:prompt => "-- Selecciona un Familiar --"}%>
    </div>
    <div class="field">
      <%= f.label :relationship_id, "Parentesco" %><br />
      <%= f.collection_select :relationship_id,  Relationship.order("name"), :id, :name, options ={:prompt => "-- Selecciona el Parentesco --"}%>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
