<h3>Lista de Estrategias del Programa Prioritario</h3>

<table class="table table-striped">
  <thead>
	  <tr>
	  	<th>Objetivo del Programa Prioritario</th>
	    <th>Nombre</th>
	    <th>Descripción</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>

<% @priority_program_strategies.each do |priority_program_strategy| %>
  <tr>
  	<td><%= priority_program_strategy.priority_program_goal.name %></td>
    <td><%= priority_program_strategy.name %></td>
    <td><%= priority_program_strategy.description %></td>
    <td><%= link_to 'Ir a Lineas de Acción', priority_program_strategy %></td>
    <td><%= link_to 'Editar', edit_priority_program_strategy_path(priority_program_strategy) %></td>
    <td><%= link_to 'Borrar', priority_program_strategy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Estrategia', new_priority_program_strategy_path, :class => "btn primary" %>
