<p id="notice"><%= notice %></p>

<p>
  <b>Estrategias:</b></br>
  <%= @priority_program_strategy.name %>: <%= @priority_program_strategy.description %>
</p>

<br/>
<p>
  <b>Lineas de Acción:</b>
</p>
<% @priority_program_strategy.priority_program_action_line.each do |actionline| %>
	<ul>
		<li>
			<%= actionline.name %>: <%= actionline.description%>
		</li>
	</ul>
<%end%>
</br>


<%= link_to 'Edit', edit_priority_program_strategy_path(@priority_program_strategy) %> |
<%= link_to 'Back', priority_program_strategies_path %>
