<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @activitygoal.name %>
</p>

<p>
  <b>Presentation advances:</b>
  <%= @activitygoal.presentation_advances %>
</p>

<p>
  <b>Kind goal capture:</b>
  <%= @activitygoal.kind_goal_capture %>
</p>

<p>
  <b>Goal year:</b>
  <%= @activitygoal.goal_year %>
</p>

<p>
  <b>Create year:</b>
  <%= @activitygoal.create_year %>
</p>

<p>
  <b>Annualm:</b>
  <%= @activitygoal.annualm %>
</p>

<p>
  <b>Annuals:</b>
  <%= @activitygoal.annuals %>
</p>

<p>
  <b>Annuale:</b>
  <%= @activitygoal.annuale %>
</p>

<p>
  <b>Annualstatus:</b>
  <%= @activitygoal.annualstatus %>
</p>

<p>
  <b>Janm:</b>
  <%= @activitygoal.janm %>
</p>

<p>
  <b>Jans:</b>
  <%= @activitygoal.jans %>
</p>

<p>
  <b>Jane:</b>
  <%= @activitygoal.jane %>
</p>

<p>
  <b>Janstatus:</b>
  <%= @activitygoal.janstatus %>
</p>

<p>
  <b>Febm:</b>
  <%= @activitygoal.febm %>
</p>

<p>
  <b>Febs:</b>
  <%= @activitygoal.febs %>
</p>

<p>
  <b>Febe:</b>
  <%= @activitygoal.febe %>
</p>

<p>
  <b>Febstatus:</b>
  <%= @activitygoal.febstatus %>
</p>

<p>
  <b>Marm:</b>
  <%= @activitygoal.marm %>
</p>

<p>
  <b>Mars:</b>
  <%= @activitygoal.mars %>
</p>

<p>
  <b>Mare:</b>
  <%= @activitygoal.mare %>
</p>

<p>
  <b>Marstatus:</b>
  <%= @activitygoal.marstatus %>
</p>

<p>
  <b>Aprm:</b>
  <%= @activitygoal.aprm %>
</p>

<p>
  <b>Aprs:</b>
  <%= @activitygoal.aprs %>
</p>

<p>
  <b>Apre:</b>
  <%= @activitygoal.apre %>
</p>

<p>
  <b>Aprstatus:</b>
  <%= @activitygoal.aprstatus %>
</p>

<p>
  <b>Maym:</b>
  <%= @activitygoal.maym %>
</p>

<p>
  <b>Mays:</b>
  <%= @activitygoal.mays %>
</p>

<p>
  <b>Maye:</b>
  <%= @activitygoal.maye %>
</p>

<p>
  <b>Maystatus:</b>
  <%= @activitygoal.maystatus %>
</p>

<p>
  <b>Junm:</b>
  <%= @activitygoal.junm %>
</p>

<p>
  <b>Juns:</b>
  <%= @activitygoal.juns %>
</p>

<p>
  <b>June:</b>
  <%= @activitygoal.june %>
</p>

<p>
  <b>Junstatus:</b>
  <%= @activitygoal.junstatus %>
</p>

<p>
  <b>Julm:</b>
  <%= @activitygoal.julm %>
</p>

<p>
  <b>Juls:</b>
  <%= @activitygoal.juls %>
</p>

<p>
  <b>Jule:</b>
  <%= @activitygoal.jule %>
</p>

<p>
  <b>Julstatus:</b>
  <%= @activitygoal.julstatus %>
</p>

<p>
  <b>Augm:</b>
  <%= @activitygoal.augm %>
</p>

<p>
  <b>Augs:</b>
  <%= @activitygoal.augs %>
</p>

<p>
  <b>Auge:</b>
  <%= @activitygoal.auge %>
</p>

<p>
  <b>Augstatus:</b>
  <%= @activitygoal.augstatus %>
</p>

<p>
  <b>Sepm:</b>
  <%= @activitygoal.sepm %>
</p>

<p>
  <b>Seps:</b>
  <%= @activitygoal.seps %>
</p>

<p>
  <b>Sepe:</b>
  <%= @activitygoal.sepe %>
</p>

<p>
  <b>Sepstatus:</b>
  <%= @activitygoal.sepstatus %>
</p>

<p>
  <b>Octm:</b>
  <%= @activitygoal.octm %>
</p>

<p>
  <b>Octs:</b>
  <%= @activitygoal.octs %>
</p>

<p>
  <b>Octe:</b>
  <%= @activitygoal.octe %>
</p>

<p>
  <b>Octstatus:</b>
  <%= @activitygoal.octstatus %>
</p>

<p>
  <b>Novm:</b>
  <%= @activitygoal.novm %>
</p>

<p>
  <b>Novs:</b>
  <%= @activitygoal.novs %>
</p>

<p>
  <b>Nove:</b>
  <%= @activitygoal.nove %>
</p>

<p>
  <b>Novstatus:</b>
  <%= @activitygoal.novstatus %>
</p>

<p>
  <b>Decm:</b>
  <%= @activitygoal.decm %>
</p>

<p>
  <b>Decs:</b>
  <%= @activitygoal.decs %>
</p>

<p>
  <b>Dece:</b>
  <%= @activitygoal.dece %>
</p>

<p>
  <b>Decstatus:</b>
  <%= @activitygoal.decstatus %>
</p>


<%= link_to 'Edit', edit_activitygoal_path(@activitygoal) %> |
<%= link_to 'Back', activitygoals_path %>
