<h1>Listing worths</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Direction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @worths.each do |worth| %>
  <tr>
    <td><%= worth.name %></td>
    <td><%= worth.direction_id %></td>
    <td><%= link_to 'Show', worth %></td>
    <td><%= link_to 'Edit', edit_worth_path(worth) %></td>
    <td><%= link_to 'Destroy', worth, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Worth', new_worth_path %>
