<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Imposible guardar Usuario</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login, "Usuario" %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :last_name, "Apellido Paterno" %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :second_last_name, "Apellido Materno" %><br />
    <%= f.text_field :second_last_name %>
  </div>
  <div class="field">
    <%= f.label :email, "Correo Electrónico" %><br />
    <%= f.text_field :email %>
  </div>

 <% unless Seias::Application.config.ldap_auth %>
  <div class="field">
    <%= f.label :password, "Contraseña" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmar Contraseña" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
<% end %>
  <div class="field">
    <%= f.label :roles, "Rol" %><br />
    <%= f.collection_select :roles, User::ROLES, :to_s, :titleize %>
  </div>
  <div class="field">
    <%= f.label :department_id, "Departamento" %>
    <%= f.collection_select :department_id,  Department.order("name").all, :id, :name, options ={:prompt => "-- Selecciona el Departamento --"}%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
