<%= form_tag  do %>
  
	<label> Contraseña Actual</label>
	<%= password_field_tag 'password[old_password]', nil %><p>
	
	<label> Contraseña Nueva</label>
	<%= password_field_tag 'password[new_password]', nil %><p>
	
	<label> Confirma Contraseña Nueva</label>
	<%= password_field_tag 'password[new_password_confirmation]', nil %><p>
	
	<%= submit_tag 'Guardar' %>

<% end %>
