<div class="show">
  <span><%= @user.login %></span></br>
  <span><%= @user.name + " "%></span>
  <span><%= @user.last_name + " " %></span>
  <span><%= @user.second_last_name %></span></br>
  <span><%= @user.email %></span></br>
  <span><%= link_to 'Editar', edit_user_path(@user) %></span>
  <span><%= link_to 'Eliminar', @user, confirm: '¿Esta seguro?', method: :delete %></span>
</div>