<%= form_for(@sexennial_state_plan_component) do |f| %>
  <% if @sexennial_state_plan_component.errors.any? %>
    <div id="error_explanation">
      <h3>Imposible guardar Componente de Plan Estatal Sexenal</h3>

      <ul>
      <% @sexennial_state_plan_component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title,"Títutlo" %>
    <%= f.text_field :title, :class => "span7" %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripción" %>
    <%= f.text_area :description, :class => "span7", :rows => "9" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
