<h1>Componentes del Plan Estatal Sexenal</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sexennial_state_plan_components.each do |sexennial_state_plan_component| %>
  <tr>
    <td><%= sexennial_state_plan_component.title %></td>
    <td><%= sexennial_state_plan_component.description %></td>
    <td><%= link_to 'Ver Detalles', sexennial_state_plan_component %></td>
    <td><%= link_to 'Editar', edit_sexennial_state_plan_component_path(sexennial_state_plan_component) %></td>
    <td><%= link_to 'Eliminar', sexennial_state_plan_component, confirm: '¿Esta seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Componente del Plan Estatal Sexenal', new_sexennial_state_plan_component_path %>
