<h1>Listing states</h1>

<table>
  <tr>
    <th>Cve ent</th>
    <th>Name</th>
    <th>Country</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @states.each do |state| %>
<% c = Country.find(state.country_id)%>
  <tr>
    <td><%= state.cve_ent %></td>
    <td><%= state.name %></td>
    <td><%= c.name %></td>
    <td><%= link_to 'Show', state %></td>
    <td><%= link_to 'Edit', edit_state_path(state) %></td>
    <td><%= link_to 'Destroy', state, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New State', new_state_path %>

<div class="pager">
	<%= paginate @states %>
</div>