
<p>
  <b>Dirección:</b></br>
  <%= Direction.find(@department.direction_id).name %>
</p>
</br>
<p>
  <b>Departamento:</b></br>
  <%= @department.name %>
</p>
</br>
<p>
  <b>Jefe del Departamento:</b></br>
  <%= @department.user.fullname %>
</p>
</br>
  <b>Usuarios:</b>
</p>
<% @department.users.each do |usuarios| %>
	<ul>
		<li>
			<%= usuarios.fullname %>
		</li>
	</ul>
<%end%>

</br>


<%= link_to 'Editar', edit_department_path(@department) %> |
<%= link_to 'Regresar', departments_path %>
