
<p>
  <b>Dirección:</b></br>
  <%= Direction.find(@department.direction_id).name %>
</p>
</br>
<p>
  <b>Departamento:</b></br>
  <%= @department.name %>
</p>
</br>
  <b>Usuarios:</b>
</p>
<% @department.users.each do |user| %>
	<ul>
		<li>
			<%= user.name %> <%= user.last_name%> <%= user.second_last_name%>
		</li>
	</ul>
<%end%>

</br>


<%= link_to 'Editar', edit_department_path(@department) %> |
<%= link_to 'Regresar', departments_path %>
