<%= form_for(@ped) do |f| %>
  <% if @ped.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ped.errors.count, "error") %> prohibited this ped from being saved:</h2>

      <ul>
      <% @ped.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br />
  <div class="field">
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripción" %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :date_start, "Fecha de Inicio" %>
    <%= f.datepicker :date_start %>
  </div>
  <div class="field">
    <%= f.label :date_end, "Fecha de Termino" %>
    <%= f.datepicker :date_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
