<h3>Programas Estatales de Desarrollo Dispobibles</h3>

<table class="table table-striped">
  <thead>
	  <tr>
	    <th>Nombre</th>
	    <th>Descripción</th>
	    <th></th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
  </thead>
</br>

<% @peds.each do |ped| %>
  <tr>
    <td><%= ped.name %></td>
    <td><%= ped.description %></td>
    <td><%= link_to 'Programas Definidos', ped %></td>
    <% if can? :update, ped %>
	    <td><%= link_to(edit_ped_path(ped)) do %>
	    		<%= image_tag("edit.png") %>
	    	<%end%>
	    </td>
	  <% end %>
	  <% if can? :destroy, ped %>
    <td><%= link_to(ped, :confirm => '¿Esta usted seguro?', :method => :delete, :remote => :true) do %>
    		<%= image_tag("delete.png") %>
    	<%end%>
    </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, @peds %>
	<%= link_to 'Agregar Nuevo PED', new_ped_path, :class => "btn primary" %>
<% end %>
