<p id="notice"><%= notice %></p>

<p>
  <b>Descripción:</b></br>
  <%= @ped.description %>
</p>
<br/>
<p>
  <b>Dependencia:</b></br>
  Desarrollo Integral de la Familia del Estado de Chihuahua
</p>
<br/>
<p>
  <b>Programa Presupuestario:</b></br>
  <%= @ped.ped_program %>
</p>
<br/>
<p>
  <b>Definición de Programas:</b>
</p>

<% @ped.ped_program_definitions.each do |program| %>
	<ul>
		<li>
			<%= link_to program.description, ped_program_definition_path(program.id) %>
		</li>
	</ul>
<%end%>
</br>
<% if can? :update, @ped %>
	<%= link_to 'Edit', edit_ped_path(@ped) %> |
<% end %>
<%= link_to 'Back', peds_path %>
