<%= form_for(@activity_type) do |f| %>
  <% if @activity_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity_type.errors.count, "error") %> prohibited this activity_type from being saved:</h2>

      <ul>
      <% @activity_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id %>
  <br />
  <div class="field">
    <%= f.label :priority,"Prioridad" %>
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :name, "Nombre de la Actividad" %>
    <%= f.text_field :name, :class => "span7" %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripci贸n" %>
    <%= f.text_area :description, :size=>"100x5", :class => "span7" %>
  </div>
  <div class="field">
    <%= f.label :measurement_id, "Unidad de Medida" %>
    <%= f.select :measurement_id, UnitOfMeasurement.all.collect{ |c| [c.name, c.id] }, {:include_blank => "-- Seleccione una Medici贸n --"}, :class => "span7" %>
  </div>
  <div class="field">
    <%= f.label :measurement_description, "Descripci贸n. Que vamos a medir?" %>
    <%= f.text_area :measurement_description, :size=>"100x5", :class => "span7" %>
  <div class="actions">
  <div class="field">
    <%= f.label :critical_success_factor_id, "Factor Critico" %>
    <%= f.select :critical_success_factor_id, CriticalSuccessFactor.all.collect{ |c| [c.title, c.id] }, {:include_blank => "-- Seleccione una Medici贸n --"}, :class => "span7" %>
  </div>
  </div>
        <div class="form-actions btn-group">
        <%= f.submit "Crear Tipo de Actividad", :class => "btn" %>
        <%= link_to 'Atras', activity_types_path, :class => "btn"  %>
      </div>
<% end %>
