<h2>Listado de tipo de Actividades</h2>

<table class="table table-striped">
  <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Medidas</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  </thead>

<% @activity_types.each do |activity_type| %>
<% um = UnitOfMeasurement.find(activity_type.unit_of_measurement_id)%>
  <tr>
    <td><%= activity_type.name %></td>
    <td><%= activity_type.description %></td>
    <!--<td><%= activity_type.unit_of_measurement_id %></td>-->
    <td><%= um.name + " " + activity_type.measurement_description%></td>
    
    <td><%= link_to 'Actividades', activity_type %></td>
    <% if can? :update, activity_type %>
	    <td>
	        <%= link_to(edit_activity_type_path(activity_type)) do %>
	            <%= image_tag("edit.png") %>
	        <% end %>
	    </td>
    <% end %>
    <% if can? :destroy, activity_type %>
	    <td>
	    	
	        <%= link_to(activity_type, :confirm => '¿Esta seguro?', :method => :delete,:remote =>true) do %>
	            <%= image_tag("delete.png") %>
	        <% end %>
	    </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, @activity_types %>
	<%= link_to 'Crear un Tipo de Actividad', new_activity_type_path, :class => "btn primary" %>
<% end %>
</br>
<div class="pager">
	<%= paginate @activity_types %>
</div>
