<p id="notice"><%= notice %></p>

<p>
  <h4>Nombre de la Acción:</h4>
  <%= @activity_type.name %>
</p>
<br />
<p>
  <h4>Descripción:</h4>
  <%= @activity_type.description %>
</p>
<br />
<p>
  <b>Actividades:</b>
</p>
<% @activity_type.activities.each do |actividades| %>
	<ul>
		<li>
			<%= link_to actividades.description, activity_path(actividades.id)%>
		</li>
	</ul>
<%end%>
<br />

<p>
  <b>Factores criticos que Afecta:</b>
</p>
<% @activity_type.critical_success_factors.order(:title).each do |fce| %>
    <ul>
      <li>
        <b><%= fce.title %>:</b><%= fce.description %>
      </li>
    </ul>
<%end%>

<div class="form-actions btn-group">
	<% if can? :update, @activity_type %>
		<%= link_to 'Editar', edit_activity_type_path(@activity_type), :class => "btn" %>
	<%end%>
<%= link_to 'Atras', activity_types_path, :class => "btn" %>
</div>
