<p id="notice"><%= notice %></p>

<p>
  <h4>Nombre de la Acción:</h4>
  <%= @activity_type.name %>
</p>
<br />
<p>
  <h4>Descripción:</h4>
  <%= @activity_type.description %>
</p>
<br />
<p>
  <b>Actividades:</b>
</p>

<% x = params[:page]  #ISC Christian Alderete 
						#subpaginate for acitivies into activity_types
   w = 0
   y = 20
   
	if x.nil?
      w = 1
   	  y = 20
   	else
   	  y = y.to_i * x.to_i
   	  w = y.to_i - 19  
   	end
   	@activity_type.activities[w..y].each_with_index do |actividades|
%>
	<ul>	
		<li>
			<%= link_to actividades.description, activity_path(actividades.id)%>
		</li>
	</ul>
<%end%>
<br />

<p>
  <b>Factores criticos que Afecta:</b>
</p>
<% @activity_type.critical_success_factors.order(:title).each do |fce| %>
    <ul>
      <li>
        <b><%= fce.title %>:</b><%= fce.description %>
      </li>
    </ul>
<%end%>

<div class="pager">
	<%= paginate @activitypage %>
</div>


<div class="form-actions btn-group">
	<% if can? :update, @activity_type %>
		<%= link_to 'Editar', edit_activity_type_path(@activity_type), :class => "btn" %>
	<%end%>
<%= link_to 'Atras', activity_types_path, :class => "btn" %>
</div>
