<p id="notice"><%= notice %></p>

<p>
  <h4>Nombre de la Acción:</h4>
  <%= @activity_type.name %>
</p>
<br />
<%obtenervalores%>
<p>
  <h4>Unidad de Medida:</h4>
  <%= @activity_type.unit_of_measurement.name %> de <%= @activity_type.measurement_description %></br> 	
  	</br>
  	<b><i>Cantidad del Mes de <%= @mes %> : </i></b><%= @suma %> personas</br>
  	<b><i>Acumulado Anual <%= @annio %> : </i></b><%= @acumulado %> personas</br>
</p>
<br />


  <b>Factores criticos que Afecta:</b>
</p>
<% @activity_type.critical_success_factors.order(:title).each do |fce| %>
    <ul>
      <li>
        <b><%= fce.title %>:</b>
      </li>
    </ul>
<%end%>
</br>

<p>
  <b>Actividades:</b>
</p>
<% x = params[:page]  #ISC Christian Alderete 
						#subpaginate for acitivies into activity_types
   w = 0
   y = 20
   
	if x.nil?
      w = 0
   	  y = 19
   	else
   	  y = y.to_i * x.to_i
   	  w = y.to_i - 19  
   	end
   	@activity_type.activities[w..y].each do |actividades|
%>
	<ul>	
		<li>
			<%= link_to actividades.description, activity_path(actividades.id)%>
		</li>
	</ul>
<%end%>
<br />

<div class="pager">
	<%= paginate @activitypage %>
</div>


<div class="form-actions btn-group">
	<% if can? :update, @activity_type %>
		<%= link_to 'Editar', edit_activity_type_path(@activity_type), :class => "btn" %>
	<%end%>
<%= link_to 'Atras', activity_types_path, :class => "btn" %>
</div>
</br>
