<%= form_for(@critical_success_factor) do |f| %>
  <% if @critical_success_factor.errors.any? %>
    <div id="error_explanation">
      <h2>Imposible Guardar Factor Crítico</h2>
      <ul>
      <% @critical_success_factor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	</br>
  <div class="field">
    <%= f.label :critical_success_factor_type_id, "Tipo" %>
    <%= f.select :critical_success_factor_type_id, CriticalSuccessFactorType.order("name").all.collect{ |c| [c.name, c.id] }, {:include_blank => "-- Seleccione un Tipo --"}, :class => "span7" %>
  </div>
  <div class="field">
    <%= f.label :title, "Título" %>
    <%= f.text_field :title, :class => "span7" %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripción" %>
    <%= f.text_area :description, :class => "span7", :rows => "9"  %>
  </div>
  <div class="field">
    <%= f.label :program_id, "Programa" %>
    <%= f.select :program_id, Program.order("name").all.collect{ |p| ["Programa No. " + p.name + " - " + p.description, p.id] }, {:include_blank => false}, :class => "span7" %>
  </div>
  <b>Metas</b>
  <div class="field">
    <%= f.label :objective_minimum, "Minimo" %>
    <%= f.text_field :objective_minimum, :class => "span7" %>
  </div>
  <div class="field">
    <%= f.label :objective_satisfying, "Satisfactorio" %>
    <%= f.text_field :objective_satisfying, :class => "span7" %>
  </div>
  <div class="field">
    <%= f.label :objective_excelent, "Excelente" %>
    <%= f.text_field :objective_excelent, :class => "span7" %>
  </div>
  <div class="field">
    <%= f.label :percentage, "Peso %" %>
    <%= f.text_field :percentage, :class => "span7" %>
  </div>
  <div class="field">
    <%= f.label :unit_of_measurement_id, "Unidad de Medida" %>
    <%= f.select :unit_of_measurement_id, UnitOfMeasurement.all.collect{ |u| [u.name, u.id] }, {:include_blank => false}, :class => "span7" %>
  </div>

  <div class="field">
    <%= f.label :unit_of_measurement_description, "Descripción" %>
    <%= f.text_field :unit_of_measurement_description, :class => "span7" %>
  </div>
  
  <div class="form-actions btn-group">
    <%= f.submit "Guardar", :class => "btn" %>
    <%= link_to 'Regresar', critical_success_factors_path, :class => "btn" %>
  </div>
<% end %>
