<p>Esta vista debe mostrar datos del factor critico y avances del mismo</p>
<p>
  <b>Título:</b>
  <%= @critical_success_factor.title %>
</p>

<p>
  <b>Descripción:</b>
  <%= @critical_success_factor.description %>
</p>

<p>
  <b>Porcentaje:</b>
  <%= @critical_success_factor.percentage %>
</p>

<p>
  <b>Unidad de Médida:</b>
  <%= @critical_success_factor.unit_of_measurement.name %> - <%= @critical_success_factor.unit_of_measurement_description %>
</p>

<p>
  <b>Minimo:</b>
  <%= @critical_success_factor.objective_minimum %>
</p>

<p>
  <b>Satisfactorio:</b>
  <%= @critical_success_factor.objective_satisfying %>
</p>

<p>
  <b>Excelente:</b>
  <%= @critical_success_factor.objective_excelent %>
</p>




<%= link_to 'Editar', edit_critical_success_factor_path(@critical_success_factor) %> |
<%= link_to 'Regresar', critical_success_factors_path %>
