
<p>
  <h3><%= @critical_success_factor.title %></h3>
</p>
</br>
<p>
  <h4>Descripción:</h4>
  <%= @critical_success_factor.description %>
</p>
<br />
<p>
  <h4>Departamento:</h4>
  <%= @critical_success_factor.program.department.name %>
</p>
<br />
<p>
  <h4>Programa:</h4>
  <%= @critical_success_factor.program.name %>
</p>
<br />
<p>
  <h4>Responsable:</h4>
   
</p>
<br />
<p>
  <h4>Unidad de Médida:</h4>
  <%= @critical_success_factor.unit_of_measurement.name %> - <%= @critical_success_factor.unit_of_measurement_description %>
</p>
<br />

<div class="btn-group">
<% if can? :update, @critical_success_factor %>
	<%= link_to 'Editar', edit_critical_success_factor_path(@critical_success_factor), :class => "btn" %>
<% end %>
<%= link_to 'Regresar', critical_success_factors_path, :class => "btn" %>
</div>


