<h1>Listing priority_programs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Date start</th>
    <th>Date end</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @priority_programs.each do |priority_program| %>
  <tr>
    <td><%= priority_program.name %></td>
    <td><%= priority_program.description %></td>
    <td><%= priority_program.date_start %></td>
    <td><%= priority_program.date_end %></td>
    <td><%= link_to 'Show', priority_program %></td>
    <td><%= link_to 'Edit', edit_priority_program_path(priority_program) %></td>
    <td><%= link_to 'Destroy', priority_program, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Priority program', new_priority_program_path %>
