<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @priority_program.name %>
</p>

<p>
  <b>Descripción:</b>
  <%= @priority_program.description %>
</p>

<br/>
<p>
  <b>Objetivos:</b>
</p>
<% @priority_program.priority_program_goals.each do |goal| %>
	<ul>
		<li>
			<%= link_to goal.name, priority_program_goal_path(goal.id)%>: <%= goal.description%>
		</li>
	</ul>
<%end%>
</br>

<%= link_to 'Editar Programa Prioritario', edit_priority_program_path(@priority_program) %> |
<%= link_to 'Programa Prioritario', priority_programs_path %>
