<%= form_for(@priority_program_action_line) do |f| %>
  <% if @priority_program_action_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@priority_program_action_line.errors.count, "error") %> prohibited this priority_program_action_line from being saved:</h2>

      <ul>
      <% @priority_program_action_line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :hierarchy %><br />
    <%= f.number_field :hierarchy %>
  </div>
  <div class="field">
	<%= f.label :priority_program_strategy_id, "Estrategia relacionada del Programa Prioritario" %><br />
	<%= f.select :priority_program_strategy_id, PriorityProgramStrategy.all.collect{ |c| [c.name, c.id] }, {:include_blank => "-- Seleccione un Identificador --"} %>
  </div>
  <div class="field">
	<%= f.label :ped_action_line_id, "Linea de Accion del PED para enlace" %><br />
	<%= f.select :ped_action_line_id, PedActionLine.all.collect{ |c| [c.name, c.id] }, {:include_blank => "-- Seleccione un Identificador --"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
