<h3>Lineas de Acción Programa Prioritario</h3>

<table class="table table-striped">
  <thead>
	  <tr>
	  	<th>Objetivo</th>
	  	<th>Estrategia</th>
	    <th>Linea de Acción</th>
	    <th>Descripción</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
<% @priority_program_action_lines.each do |priority_program_action_line| %>
  <tr>
  	<td><%= priority_program_action_line.priority_program_strategy.priority_program_goal.name %></td>
  	<td><%= priority_program_action_line.priority_program_strategy.name %></td>
    <td><%= priority_program_action_line.name %></td>
    <td><%= priority_program_action_line.description %></td>
    <td><%= link_to 'Detalles', priority_program_action_line %></td>
    <% if can? :update, priority_program_action_line %>
	    <td><%= link_to (edit_priority_program_action_line_path(priority_program_action_line)) do %>
	    		<%= image_tag("edit.png") %>
	    	<%end%>
	    </td>
    <%end%>
    <% if can? :destroy, priority_program_action_line %>
	    <td><%= link_to(priority_program_action_line, :confirm => '¿Esta usted seguro?', :method => :delete, :remote => true) do %>
	    		<%= image_tag("delete.png")%>
	    	<%end%>
	    </td>
    <%end%>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, @priority_program_action_lines %>
	<%= link_to 'Agregar Línea de Acción', new_priority_program_action_line_path, :class => "btn primary" %>
<%end%>