<h3>Lineas de Acción Programa Prioritario</h3>

<table class="table table-striped">
  <thead>
	  <tr>
	  	<th>Objetivo</th>
	  	<th>Estrategia</th>
	    <th>Nombre</th>
	    <th>Descripción</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
<% @priority_program_action_lines.each do |priority_program_action_line| %>
  <tr>
  	<td><%= priority_program_action_line.priority_program_strategy.priority_program_goal.name %></td>
  	<td><%= priority_program_action_line.priority_program_strategy.name %></td>
    <td><%= priority_program_action_line.name %></td>
    <td><%= priority_program_action_line.description %></td>
    <td><%= link_to 'Mostrar', priority_program_action_line %></td>
    <td><%= link_to 'Editar', edit_priority_program_action_line_path(priority_program_action_line) %></td>
    <td><%= link_to 'Borrar', priority_program_action_line, confirm: '¿Esta usted seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Línea de Acción', new_priority_program_action_line_path, :class => "btn primary" %>
