<h3 xmlns="http://www.w3.org/1999/html">FORMATO DE ALINEACION DEL PLAN ESTATAL DE DESARROLLO 2010-2016</h3>
</br>
<b>Dependencia: </b> </br>
Desarrollo Integral de la Familia del Estado de Chihuahua
</br>  </br>
<b>Programa Propuesto: </b> </br>
<%=Ped.find(1).ped_program%>.
</br>  </br>
<b>Definicion del Programa: </b> </br>
<%=PedProgramDefinition.find(1).description%>.

<div style="width:600px;height:600px;overflow-y:scroll;overflow-x:scroll;">
  <p style="width:250%;">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Eje de Desarrollo PED</th>
    <th>Tema PED</th>
    <th>Sub Tema PED</th>
    <th>Objetivo PED</th>
    <th>Estrategia PED</th>
    <th>Linea de Acción PED</th>
    <th>Objetivo PP</th>
    <th>Estrategia PP</th>
    <th>Linea de Acción PP</th>
    <th>Programa</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <% @priority_program_action_lines.each do |priority_program_action_line| %>
      <tr>
        <td><%= priority_program_action_line.ped_action_line.ped_strategy.ped_goal.ped_sub_theme.ped_theme.ped_axis_development.name %></td>
        <td><%= priority_program_action_line.ped_action_line.ped_strategy.ped_goal.ped_sub_theme.ped_theme.name %></td>
        <td><%= priority_program_action_line.ped_action_line.ped_strategy.ped_goal.ped_sub_theme.name %></td>
        <td><%= priority_program_action_line.ped_action_line.ped_strategy.ped_goal.name %></td>
        <td><%= priority_program_action_line.ped_action_line.ped_strategy.name %></td>
        <td><%= priority_program_action_line.ped_action_line.name %></td>
        <td><%= priority_program_action_line.priority_program_strategy.priority_program_goal.name %></td>
        <td><%= priority_program_action_line.priority_program_strategy.name %></td>
        <td><%= priority_program_action_line.name %></td>
        <td><%= priority_program_action_line.programs do |p|
                    p.programs.description
            end%>
        </td>

      </tr>
  <% end %>
</table>
  </p
</div>