<p id="notice"><%= notice %></p>

<p>
  <b>Objetivo del Programa Prioritario:</b></br>
  <%= @priority_program_action_line.priority_program_strategy.priority_program_goal.name %>
</p>
</br>
<p>
  <b>Estrategia del Programa Prioritario:</b></br>
  <%= @priority_program_action_line.priority_program_strategy.name %>
</p>
</br>
<p>
  <b>Linea de Acción:</b></br>
  <%= @priority_program_action_line.name %>
</p>
</br>
<p>
  <b>Descripción:</b></br>
  <%= @priority_program_action_line.description %>
</p>
</br>



<% if can? :update, @priority_program_action_line %>
	<%= link_to 'Editar', edit_priority_program_action_line_path(@priority_program_action_line) %> |
<% end %>
<%= link_to 'Atras', priority_program_action_lines_path %>
