<%= form_for :affiliates, :url => {:action => 'new', :controller => 'affiliates', :type => "ben"} do |f| %>
    <div class="field">
      Personas<%= radio_button_tag "field", 1, true,{:id => "button1", :class => "show_hide"} %>
      Instituciones<%= radio_button_tag "field", 2, false,{:id => "button2", :class => "show_hide"} %>

    </div>
    <div id="div-sh-1" class="toHide">
      <%= f.label :busqueda_de_personas %><br />
      <%= f.autocomplete_field :person, autocomplete_person_name_affiliates_path %>
      <%= f.submit "Buscar personas" %>
    </div>
    <div id="div-sh-2" class="toHide">
      <%= f.label :busqueda_de_instituciones %><br />
      <%= f.autocomplete_field :institution, autocomplete_institution_name_affiliates_path %>
      <%= f.submit "Buscar instituciones" %>
    </div>
<% end %>
<% if params[:type] == "ben" %>
  <table>
    <tr>
      <th>Nombre</th>
    </tr>
      <% @affiliate_benefit.each do |affiliate| %>
    <tr>
      <td><%= link_to affiliate[1], new_affiliate_path(:ben_aff => affiliate[0], :type_ben => params[:type]) %></td>
    </tr>
  </table>
<% end %>
<% end %>
  <% if params[:type_ben] == "ben" or params[:type_ben] == "ins"   %>
      <%= form_for(@affiliate) do |f| %>
          <% if @affiliate.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@affiliate.errors.count, "error") %> prohibited this affiliate from being saved:</h2>
                <ul>
                  <% @affiliate.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

        <p>
          <% if params[:type_ben] == "ins" %>
            <b>Institución:</b>
            <%= @affiliate_p.name %>
          <% elsif params[:type_ben] == "ben" %>
              <b>Persona:</b>
              <%= @affiliate_p.name + ' ' + @affiliate_p.last_name + ' ' + @affiliate_p.second_last_name%>
          <% end %>
        </p>

        <div class="field">
          <%= f.label :program_id, "Programa" %>
          <%= f.collection_select :program_id, Program.find_all_by_department_id( current_user.department_id).sort_by{ |k| k['description'] }  , :id, :description, options ={:prompt => "-- Selecciona un Programa --"}, :class=>"ddl_width" %>
        </div>

        <div class="field">
          <%= f.label "Tipo de Actividad" %>
          <%= fill_activity_type_select(f) %>
        </div>
        <div class="field">
          <%= f.label :period_time_id %><br />
          <%= f.number_field :period_time_id %>
        </div>
        <div class="field">
          <%= f.label :period_number %><br />
          <%= f.number_field :period_number %>
        </div>
        <div class="field">
          <%= f.label :institution_id %><br />
          <%= f.number_field :institution_id %>
        </div>
        <div class="field">
          <%= f.label :person_id %><br />
          <%= f.number_field :person_id %>
        </div>
        <div class="actions">
         <%= f.submit %>
        </div>
      <% end %>
  <% end %>
