    <%= form_for(@affiliate) do |f| %>
      <% if @affiliate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@affiliate.errors.count, "error") %> prohibited this affiliate from being saved:</h2>
          <ul>
            <% @affiliate.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
        </br>
        <p>
          <% if params[:type] == "ins" %>
            <b>Institución:</b>
            <% @institution = Institution.find(params[:id]) %>
            <%= @institution.name %>
              <%= f.hidden_field :institution_ben_id, :value => @institution.id %>
          <% elsif params[:type] == "per" %>
              <b>Persona:</b>
              <% @person = Person.find(params[:id])%>
              <%= @person.fullname %>
              <%= f.hidden_field :person_id, :value => @person.id %>
          <% end %>
        </p>
        </br>
        <%= f.hidden_field :type, :value => params[:type]%>

        <div class="field">
          <%= f.label :office_id, "Oficio" %>
          <%= f.collection_select :office_id, Office.all.sort_by{ |k| k['id'] }  , :id, :id, options ={:prompt => "-- Selecciona un Oficio --"}, :class=>"ddl_width" %>
        </div>
        <div class="field">
          <%= f.label :program_id, "Programa" %>
          <%= fill_programs_select_af(f) %>
        </div>

        <div class="field">
          <%= f.label "Tipo de Actividad" %>
          <%= fill_activity_type_select_af(f) %>
        </div>
        <div class="field">
          <%= f.label :period_time_id,  "Periodo" %><br />
          <%= f.collection_select :period_time_id, PeriodTime.all.collect.sort_by{ |k| k['id'] }  , :id, :name, options ={:prompt => "-- Selecciona un Periodo --"}, :class=>"ddl_width" %>

        </div>
        <div class="field">
          <%= f.label :period_number, "Número de periodos" %><br />
          <%= f.number_field :period_number %>
        </div>
        <div class="field">
          <%= f.label :institution_id, "Institución que dara el apoyo" %><br />
          <%= f.collection_select :institution_id, Institution.all.collect.sort_by{ |k| k['name'] }  , :id, :name, options ={:prompt => "-- Selecciona una Institución --"},  :class=>"ddl_width" %>
        </div>

        <div class="actions">
         <%= f.submit "Crear Afiliación" %>
        </div>
      <% end %>


