<p id="notice"><%= notice %></p>



<p>
  <b>Periodo de tiempo:</b>
  <%= @affiliate.period_time.name %>

</p>

<p>
  <b>Número de Periodos:</b>
  <%= @affiliate.period_number %>
</p>

<p>
  <b>Institucion:</b>
  <%= @affiliate.institution.name %>
</p>

<p>
  <b>Afiliado:</b>
  <% if @affiliate.institution_ben_id.nil? %>
    <%= @affiliate.person.fullname %>
  <% elsif @affiliate.person_id.nil? %>
    <%= Institution.find(@affiliate.institution_ben_id).name %>
  <% end %>
</p>
<p>
  <b>Actividad:</b>
  <%= @affiliate.activity_type.name %>
</p>
<% if @affiliate.institution_ben_id.nil? %>

    <%= link_to 'Apoyos', new_benefit_path + '/' + @affiliate.person_id.to_s + '?type=per', :class => "btn" %>
<% elsif @affiliate.person_id.nil? %>

    <%= link_to 'Apoyos', new_benefit_path + '/' + @affiliate.institution_ben_id.to_s + '?type=ins', :class => "btn" %>
<% end %>

</br>
<%= link_to 'Edit', edit_affiliate_path(@affiliate) %> |
<%= link_to 'Back', affiliates_path %>
