<%= form_for(@ped_goal) do |f| %>
  <% if @ped_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ped_goal.errors.count, "error") %> prohibited this ped_goal from being saved:</h2>

      <ul>
      <% @ped_goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :hierarchy %><br />
    <%= f.number_field :hierarchy %>
  </div>
  <div class="field">
	<%= f.label :ped_sub_theme_id, "Sub Tema PED al que pertenece" %><br />
	<%= f.select :ped_sub_theme_id, PedSubTheme.all.collect{ |c| [c.name, c.id] }, {:include_blank => "-- Seleccione un Identificador --"} %>
  </div>
  <div class="field">
	<%= f.label :ped_id, "PED al que pertenece" %><br />
	<%= f.select :ped_id, Ped.all.collect{ |c| [c.name, c.id] }, {:include_blank => "-- Seleccione un Identificador --"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
