<h1>Listing ped_goals</h1>

<table>
  <tr>
  	<th>Ped</th>
    <th>Ped Sub Tema</th>
    <th>Objetivos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ped_goals.each do |ped_goal| %>

  <tr>
    <td><%= ped_goal.ped.name %></td>
    <td><%= ped_goal.ped_sub_theme.name %></td>
    <td><%= ped_goal.name %>: <%= ped_goal.description %></td>
    <td><%= link_to 'Ir a estrategias', ped_goal %></td>
    <td><%= link_to 'Edit', edit_ped_goal_path(ped_goal) %></td>
    <td><%= link_to 'Destroy', ped_goal, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ped goal', new_ped_goal_path %>
