<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ped_goal.name %>
</p>

<p>
  <b>Description:</b>
  <%= @ped_goal.description %>
</p>

<p>
  <b>Hirarchy:</b>
  <%= @ped_goal.hierarchy %>
</p>

<p>
  <b>Ped:</b>
  <%= @ped_goal.ped_id %>
</p>


<%= link_to 'Edit', edit_ped_goal_path(@ped_goal) %> |
<%= link_to 'Back', ped_goals_path %>
