<h1>Listing office_allocations</h1>

<table>
  <tr>
    <th>Oficio</th>
    <th>Detalle</th>
    <th>Usuario</th>
    <th>Para</th>
    <th>Lugar</th>
    <th>Location status</th>
    <th>Reasiganado por</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @office_allocations.each do |office_allocation| %>
  <tr>
    <td><%= office_allocation.office_id %></td>
    <td><%= office_allocation.infot %></td>
    <td><%= office_allocation.user_id %></td>
    <td><%= office_allocation.to %></td>
    <td><%= office_allocation.place %></td>
    <td><%= office_allocation.location_status %></td>
    <td><%= office_allocation.move_by_user_id %></td>
    <td><%= link_to 'Ver', office_allocation %></td>
    <td><%= link_to 'Editar', edit_office_allocation_path(office_allocation) %></td>
    <td><%= link_to 'Eliminar', office_allocation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Reasiganacion', new_office_allocation_path %>
