<%= form_for(@ped_axis_development) do |f| %>
  <% if @ped_axis_development.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ped_axis_development.errors.count, "error") %> prohibited this ped_axis_development from being saved:</h2>

      <ul>
      <% @ped_axis_development.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br />
  <div class="field">
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripción" %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :ped_id, "PED al que pertenece" %>
    <%= f.select :ped_id, Ped.order("name").all.collect{ |c| [c.name, c.id] }, {:include_blank => "-- Seleccione un Identificador --"}  %>
  </div>

  <div>
    <table border="0">
      <tr>
         <td colspan="2"><h4>Definición de Programas Disponibles</h4></td>
            <td colspan="2"><h4>Definiciones Relacionadas al Eje</h4></td>
         </tr>
         <tr>
         <td rowspan="3" align="right">
            <label>
                <%=fillrightleftselectionaxis(f)%>
            </label>
        </td>
        <td align="left">&nbsp;</td>
         <td align="left">&nbsp;</td>
        <td rowspan="3" align="left">
          <label>
            <%= f.select("selectRight",options_for_select(@ped_axis_development.ped_program_definition.order("name").all.collect { |cat| [cat.name, cat.id] }, @ped_axis_development.name { |cat| cat.id}),{}, {:size => 6,:multiple=>true, :id=>'selectRight'}) %>
          </label>
        </td>
         </tr>
         <tr>
         <td align="left">&nbsp;</td>
         <td align="left"><label>
         <input name="btnRight" type="button" id="btnRight" value="&gt;&gt;" onClick="javascript:moveToRightOrLeft(1);">
         </label>
      </td> 
      </tr>
         <tr>
         <td align="left">&nbsp;</td>
         <td align="left"><label>
         <input name="btnLeft" type="button" id="btnLeft" value="&lt;&lt;" onClick="javascript:moveToRightOrLeft(2);">
             </label>
      </td> 
     </tr> 
    </table> 
   </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
     function moveToRightOrLeft(side){
     var listLeft=document.getElementById('selectLeft');
     var listRight=document.getElementById('selectRight');
      if(side==1){ 
        if(listLeft.options.length==0){
         alert('Usted ya movio todas las líneas de acción a la derecha');
             return false;
         }
        else{
         var selectedAL=listLeft.options.selectedIndex;
              move(listRight,listLeft.options[selectedAL].value,listLeft.options[selectedAL].text); listLeft.remove(selectedAL);
              if(listLeft.options.length>0){
             listLeft.options[0].selected=true;
             } 
        } 
        }
        else if(side==2){
         if(listRight.options.length==0){
             alert('Usted ya movio todas las lineas de acción a la izquierda');
             return false;
         }
            else{
             var selectedAL=listRight.options.selectedIndex;
              move(listLeft,listRight.options[selectedAL].value,listRight.options[selectedAL].text);
             listRight.remove(selectedAL);
              if(listRight.options.length>0){
                 listRight.options[0].selected=true;
             } 
            } 
        } 
    } 
     function move(listBoxTo,optionValue,optionDisplayText){
     var newOption = document.createElement("option");
     newOption.value = optionValue;
     newOption.text = optionDisplayText;
     listBoxTo.add(newOption, null);
     return true;
 } 

    $(document).ready(function(){
        $('#new_ped_axis_definition').submit(function(){
            //SelectRight seleccionar
            var options = $("#selectRight").children("option").map(function(){ return $(this).attr('value') })
            $("#selectRight").val(options);
        });

        $('form[id*=edit_ped_axis_definition]').submit(function(){
            //SelectRight seleccionar
            var options = $("#selectRight").children("option").map(function(){ return $(this).attr('value') })
            $("#selectRight").val(options);
        });
    });

</script>