<%= form_for(@goal, :url => url, :method => method) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2>Imposible registrar meta</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :month, "Mes" %>
    <%= f.number_field :month, :class => "span7" %>
  </div>
  <div class="field">
    <%= f.label :year, "Año" %>
    <%= f.number_field :year, :class => "span7" %>
  </div>
  <table>
    <tr>
        <td>
          <%= f.label :minimum, "Mínimo" %>
        </td>
        <td>
          <%= f.label :satisfying, "Satisfactorio" %>
        </td>
        <td>
          <%= f.label :excelent, "Excelente" %>
        </td>
    </tr>
        <td>
          <%= f.text_field :minimum, :class => "span2" %>
        </td>
        <td>
          <%= f.text_field :satisfying, :class => "span2" %>
        </td>
        <td>
          <%= f.text_field :excelent, :class => "span2" %>
        </td>
    <tr>

    </tr>
  </table>


  <div class="form-actions btn-group">
    <%= f.submit "Crear Meta", :class => "btn" %>
    <%= link_to 'Regresar', critical_factor_path(@critical_factor), :class => "btn" %>
  </div>
<% end %>
