<h1>Listing goals</h1>

<table>
  <tr>
    <th>Month</th>
    <th>Year</th>
    <th>Minimum</th>
    <th>Satisfying</th>
    <th>Excelent</th>
    <th>Indicador</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @goals.each do |goal| %>
  <tr>
    <td><%= goal.month %></td>
    <td><%= goal.year %></td>
    <td><%= goal.minimum %></td>
    <td><%= goal.satisfying %></td>
    <td><%= goal.excelent %></td>
    <td><%= goal.critical_factor %></td>
    <td><%= link_to 'Show', goal %></td>
    <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
    <td><%= link_to 'Destroy', goal, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Goal', new_goal_path %>
