<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2>Imposible registrar actividad</h2>
      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :user_id %>
  <br />
  <div class="field">
    <%= f.label :activity_type_id, "Tipo de Actividad" %>
    <%= f.collection_select :activity_type_id, ActivityType.all, :id, :name, options ={:prompt => "-- Selecciona un Tipo --"}%>
  </div>
  <div class="field">
    <%= f.label :value, "Valor" %>
    <%= f.text_field :value %>
  </div>
  <a href="#" class="show_hide">Capturar Detalle de Hombres y Mujeres</a>
  <div class="slidingDiv">
	
		  <div class="field">
		    <%= f.label :qty_men, "Cantidad de Hombres" %>
		    <%= f.text_field :qty_men %>
		  </div>
		  <div class="field">
		    <%= f.label :qty_women, "Cantidad de Mujeres" %>
		    <%= f.text_field :qty_women %>
		  </div>
		  <a href="#" class="show_hide">Ocultar</a></br>
  </div>
  </br>	
  <div class="field">
    <%= f.label :description, "Descripción" %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
  	
    <%= f.label :activity_date_start, "Fecha Inicio de Actividad" %>
    <%= f.datepicker :activity_date_start, :dateFormat => "dd-mm-yy" %>
    <!-- <%= f.date_select :activity_date_start %> -->
  </div>
  <div class="field">
  	
    <%= f.label :activity_date_end, "Fecha Fin de Actividad" %>
    <%= f.datepicker :activity_date_end, :dateFormat => "dd-mm-yy" %>
    <!--<%= f.date_select :activity_date_end %>-->
  </div> 
  <div class="field">
    <%= f.label :county_id, "Municipio" %>
    <%= f.collection_select :county_id,  County.where(:state_id => 8).order("name"), :cve_mun, :name, options ={:prompt => "-- Selecciona --"}, :id => "county_id" %>
  </div>
  
  <div class="field">
    <%= f.label :town_id, "Localidad" %>
    <%= f.collection_select :town_id,  Town.where(:county_id => @activity.county_id, :state_id => 8), :id, :name, options ={:prompt => ""}, :id => "town_id" %>
  </div>
  
  <div class="field">
    <%= f.label :group_id, "Grupo" %>
    <%= f.collection_select :group_id, Group.all, :id, :name, options ={:prompt => "-- Selecciona un Grupo --"}%>
  </div>
  <div class="field">
    <%= f.label :public_target_id, "Público Objetivo" %>
    <%= f.collection_select :public_target_id, PublicTarget.all, :id, :name, options ={:prompt => "-- Selecciona la Poblacion Objetivo --"}%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


