<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2>Imposible registrar actividad</h2>
      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity_type_id, "Tipo de Actividad" %><br />
    <%= f.collection_select :activity_type_id, ActivityType.all, :id, :name, options ={:prompt => "-- Selecciona un Tipo --"}%>
  </div>

  <div class="field">
    <%= f.label :value, "Valor" %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripción" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :activity_date, "Fecha" %><br />
    <%= f.date_select :activity_date %>
  </div>
   
  <div class="field">
    <%= f.label :county_id, "Municipio" %><br />
    <%= f.collection_select :county_id,  County.where(:state_id => 8).order("name"), :cve_mun, :name, options ={:prompt => "-- Selecciona --"}%>
  </div>
  
  <div class="field">
    <%= f.label :town_id, "Localidad" %><br />
    <%= f.collection_select :town_id,  Town.where(:county_id => @activity.county_id, :state_id => 8), :id, :name, options ={:prompt => ""} %>
  </div>
  
  <div class="field">
    <%= f.label :group_id, "Grupo" %><br />
    <%= f.collection_select :group_id, Group.all, :id, :name, options ={:prompt => "-- Selecciona un Grupo --"}%>
  </div>
  <div class="field">
    <%= f.label :public_target_id, "Público Objetivo" %><br />
    <%= f.collection_select :public_target_id, PublicTarget.all, :id, :name, options ={:prompt => "-- Selecciona la Poblacion Objetivo --"}%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
