<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2>Imposible registrar actividad</h2>
      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :user_id %>
  <br />
  <div class="field">
    <%= f.label :program_id, "Programa" %>
    <%= fill_programs_select(f)%>
  </div>
  <div class="field">
    <%= f.label :activity_type_id, "Tipo de Actividad" %>
   <%= fill_activity_type_select(f) %>
  </div>
 
  <div class="field">
  	<%= f.label :value, "Valor ",{:id=>"typess"} %>
    <%= f.number_field :value %>
    
  </div>
  <div class="field">
		  <div class="field">
		    <%= f.label :qty_men, "Cantidad de Hombres" %>
		    <%= f.number_field :qty_men %>
		  </div>
		  <div class="field">
		    <%= f.label :qty_women, "Cantidad de Mujeres" %>
		    <%= f.number_field :qty_women %>
		  </div>
  </div>
  </br>	
  <div class="field">
    <%= f.label :description, "Descripción" %>
    <%= f.text_area :description, :class=>"text_area_height_width" %>
  </div>
  <div class="field">
  	
    <%= f.label :activity_date_start, "Fecha Inicio de Actividad" %>
    <%= f.datepicker :activity_date_start, :dateFormat => "dd-mm-yy" %>
  </div>
  <div class="field">
  	
    <%= f.label :activity_date_end, "Fecha Fin de Actividad" %>
    <%= f.datepicker :activity_date_end, :dateFormat => "dd-mm-yy" %>
  </div> 
  <div class="field">
    <%= f.label :county_id, "Municipio" %>
    <%= f.collection_select :county_id,  County.order("name").where(:state_id => 8).order("substring(name,1,1)"), :cve_mun, :name, options ={:prompt => "-- Selecciona --"}, :id => "county_id" %>
  </div>
  
  <div class="field">
    <%= f.label :town_id, "Localidad" %>
    <%= f.collection_select :town_id,  Town.order("name").where(:county_id => @activity.county_id, :state_id => 8), :id, :name, options ={:prompt => ""}, :id => "town_id" %>
  </div>
  
  <div class="field">
    <%= f.label :group_id, "Grupo" %>
    <%= f.collection_select :group_id, Group.order("name").all, :id, :name, options ={:prompt => "-- Selecciona un Grupo --"}%>
  </div>
  <div class="field">
    <%= f.label :public_target_id, "Público Objetivo" %>
    <%= f.collection_select :public_target_id, PublicTarget.order("name").all, :id, :name, options ={:prompt => "-- Selecciona la Poblacion Objetivo --"}%>
  </div>
	
  <div class="actions">
    <%= f.submit "Guardar Actividad" %>
  </div>
 <% if params[:continuos] == '1' %>	
   <div class="actions">
     <%= link_to 'Finalizar', activities_path, :class => "btn primary" %>
   </div>
  <% end %>
<% end %>


