<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2>Imposible registrar actividad</h2>
      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity_type, "Tipo de Actividad" %><br />
    <%= f.text_field :activity_type %>
  </div>

  <div class="field">
    <%= f.label :value, "Valor" %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripción" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :activity_date, "Fecha" %><br />
    <%= f.date_select :activity_date %>
  </div>
  <div class="field">
    <%= f.label :town, "Localidad" %><br />
    <%= f.text_field :town %>
  </div>
  <div class="field">
    <%= f.label :group, "Grupo" %><br />
    <%= f.text_field :group %>
  </div>
  <div class="field">
    <%= f.label :public_target, "Público Objetivo" %><br />
    <%= f.text_field :public_target %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
