<h3>Actividades</h3>

<% if can? :create, Activity %>
	</br>
	<%= link_to 'Agregar Actividad', new_activity_path, :class => "btn primary" %>
<% end %>
</br>
<div style="OVERFLOW: auto; WIDTH: 100%; HEIGHT: 100%">
<table class="table table-striped">
  <thead>
      <tr>
        <th>Ide</th>
        <th>Tipo de Actividad</th>
        <th>Val.</th>
        <th>H</th>
        <th>M</th>
        <th>Descripción</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Localidad</th>
      </tr>
  </thead>
<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.id %></td>
    <td><%= activity.activity_type.name %></td>
    <td><%= activity.value %></td>
    <td><%= activity.qty_men %></td>
    <td><%= activity.qty_women %></td>
    <td><%= activity.description %></td>
    <td><%= l activity.activity_date_start.to_date, :format => :short %></td>
    <td><%= l activity.activity_date_end.to_date, :format => :short %></td>
    <td><%= activity.town.name %></td>
    <td><%= link_to 'Detalles', activity %></td>
    <% if can? :update, activity %>
			<td>
	        <%= link_to(edit_activity_path(activity)) do %>
	            <%= image_tag("edit.png") %>
	        <% end %>
	    </td>
     <% end %>
     <% if can? :destroy, activity %>
	    <td><%= link_to(activity, :confirm => '¿Está seguro?', :method => :delete, :remote => :true) do %>
	    		<%= image_tag("delete.png") %>
	    	<%end%>
	    </td>
     <% end %>
  </tr>
<% end %>
</table>

</br>
<div class="pager">
	<%= paginate @activities %>
</div>
</div>
