<h1>Listing activities</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Description</th>
    <th>Activity date</th>
    <th>Town</th>
    <th>Group</th>
    <th>Public target</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.value %></td>
    <td><%= activity.description %></td>
    <td><%= activity.activity_date %></td>
    <td><%= activity.town %></td>
    <td><%= activity.group %></td>
    <td><%= activity.public_target %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
