<p>
  <b>Tipo de Actividad:</b>
  <%= @activity.activity_type %>
</p>

<p>
  <b>Valor:</b>
  <%= @activity.value %>
</p>

<p>
  <b>Descripción:</b>
  <%= @activity.description %>
</p>

<p>
  <b>Fecha:</b>
  <%= @activity.activity_date %>
</p>

<p>
  <b>Localidad:</b>
  <%= @activity.town %>
</p>

<p>
  <b>Grupo:</b>
  <%= @activity.group %>
</p>

<p>
  <b>Público Objetivo:</b>
  <%= @activity.public_target %>
</p>


<%= link_to 'Editar', edit_activity_path(@activity) %> |
<%= link_to 'Regresar', activities_path %>
