<%= form_for(@discapacity_origin) do |f| %>
  <% if @discapacity_origin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discapacity_origin.errors.count, "error") %> prohibited this discapacity_origin from being saved:</h2>

      <ul>
      <% @discapacity_origin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
