<%= form_for(@office_record, :url => url, :method => method) do |f| %>
  <% if @office_record.errors.any? %>
    <div id="error_explanation">
      <h2>Imposible registrar información</h2>
      <ul>
        <% @office_record.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </br>

  <div class="field">
    <%= f.label :info, "Especifique Atención" %>
    <%= f.text_area :info %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
