<%= form_for(@ped_strategy) do |f| %>
  <% if @ped_strategy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ped_strategy.errors.count, "error") %> prohibited this ped_strategy from being saved:</h2>

      <ul>
      <% @ped_strategy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br />
  <div class="field">
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripción" %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :hierarchy, "Gerarquía" %>
    <%= f.number_field :hierarchy %>
  </div>
  <div class="field">
	<%= f.label :ped_goal_id, "Objetivo correspondiente en el PED" %>
	<%= f.select :ped_goal_id, PedGoal.all.collect{ |c| [c.name, c.id] }, {:include_blank => "-- Seleccione un Identificador --"} %>
  </div></br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
