<h3>Estrategias del Programa Estatal de Desarrollo</h3>

<table class="table table-striped">
  <thead>
	  <tr>
	  	<th>Subtema Ped</th>
	  	<th>Objetivo Ped</th>
	    <th>Estrategia</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
  </thead>
</br>
<% @ped_strategies.each do |ped_strategy| %>
  <tr>
  	<td><%= ped_strategy.ped_goal.ped_sub_theme.name%>: <%= ped_strategy.ped_goal.ped_sub_theme.description%></td>
  	<td><%= ped_strategy.ped_goal.name%>: <%= ped_strategy.ped_goal.description%></td>
    <td><%= ped_strategy.name %>: <%= ped_strategy.description %></td>
    <td><%= link_to 'Lineas de Acción', ped_strategy %></td>
    <% if can? :update, ped_strategy %>
	    <td><%= link_to(edit_ped_strategy_path(ped_strategy)) do %>
	    		<%= image_tag("edit.png") %>
	    	<%end%>
	    </td>
    <%end%>
    <% if can? :destroy, ped_strategy %>
	    <td><%= link_to(ped_strategy, :confirm => 'Esta usted seguro?', :method => :delete, :remote => :true) do %>
	    		<%= image_tag("delete.png") %>
	    	<%end%>
	    </td>
    <%end%>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, @ped_strategies %>
	<%= link_to 'Agregar Estrategia', new_ped_strategy_path, :class => "btn primary" %>
<% end %>
