<h1>Listing ped_strategies</h1>

<table>
  <tr>
  	<th>Subtema Ped</th>
  	<th>Objetivo Ped</th>
    <th>Estrategia</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ped_strategies.each do |ped_strategy| %>
  <tr>
  	<td><%= ped_strategy.ped_goal.ped_sub_theme.name%>: <%= ped_strategy.ped_goal.ped_sub_theme.description%></td>
  	<td><%= ped_strategy.ped_goal.name%>: <%= ped_strategy.ped_goal.description%></td>
    <td><%= ped_strategy.name %>: <%= ped_strategy.description %></td>
    <td><%= link_to 'Show', ped_strategy %></td>
    <td><%= link_to 'Edit', edit_ped_strategy_path(ped_strategy) %></td>
    <td><%= link_to 'Destroy', ped_strategy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ped strategy', new_ped_strategy_path %>
