<p id="notice"><%= notice %></p>

<p>
  <b>Estrategia:</b></br>
  <%= @ped_strategy.name %>: <%= @ped_strategy.description %>
</p>

<br/>
<p>
  <b>Lineas de Acción:</b>
</p>
<% @ped_strategy.ped_action_lines.each do |actionline| %>
	<ul>
		<li>
			<%= actionline.name %>: <%= actionline.description%>
		</li>
	</ul>
<%end%>
</br>


<%= link_to 'Edit', edit_ped_strategy_path(@ped_strategy) %> |
<%= link_to 'Back', ped_strategies_path %>
