<%= form_for(@school_age, :url => url, :method => method) do |f| %>
    <% if @school_age.errors.any? %>
        <div id="error_explanation">
            <h2>Imposible registrar informacion</h2>
            <ul>
                <% @school_age.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
  </br>
  <div class="field">
    <%= f.label :grade_id, "Grado Escolar" %>
    <%= f.collection_select :grade_id, Grade.order("name").all, :id, :name, options ={:prompt => "-- Seleccione Grado --"}, :class=>"span3"%>
  </div>
  <div class="field">
    <%= f.label :guardianship_id, "Tipo de Tutela" %>
    <%= f.collection_select :guardianship_id, Guardianship.order("name").all, :id, :name, options ={:prompt => "-- Seleccione Tutela --"}, :class=>"span3"%>
  </div>
  <div class="field">
    <%= f.label :sex_id, "Sexo" %>
    <%= f.collection_select :sex_id, Sex.order("id").limit(2).all, :id, :name, options ={:prompt => "-- Seleccione Sexo --"} ,:class=>"span3"%>
  </div>
  <div class="field">
    <%= f.label :total_qty_registered, "Total Registrado" %>
    <%= f.number_field :total_qty_registered %>
  </div>
    </br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
