<%= form_for(@school_age) do |f| %>
  <% if @school_age.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school_age.errors.count, "error") %> prohibited this school_age from being saved:</h2>

      <ul>
      <% @school_age.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :institution_id %><br />
    <%= f.number_field :institution_id %>
  </div>
  <div class="field">
    <%= f.label :grade_id %><br />
    <%= f.number_field :grade_id %>
  </div>
  <div class="field">
    <%= f.label :guardianship_id %><br />
    <%= f.number_field :guardianship_id %>
  </div>
  <div class="field">
    <%= f.label :sex_id %><br />
    <%= f.number_field :sex_id %>
  </div>
  <div class="field">
    <%= f.label :total_qty_registered %><br />
    <%= f.number_field :total_qty_registered %>
  </div>
  <div class="field">
    <%= f.label :real_qty_registered %><br />
    <%= f.number_field :real_qty_registered %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
