<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :place_type, "Identificador tipo" %><br />
    <%= f.select :place_type, PlaceType.all.collect{ |c| [c.name, c.id] }, {:include_blank => "-- Seleccione un Identificador --"} %>
  </div>
  <div class="field">
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address, "Dirección" %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :country_id, "Pais" %><br />
    <%= f.collection_select :country_id,  Country.where(:id => 1).order("name"), :id, :name, options ={:prompt => "-- Selecciona --"}%>
  </div>
  <div class="field">
    <%= f.label :state_id, "Estado" %><br />
    <%= f.collection_select :state_id,  State.where(:country_id => 1).order("name"), :cve_ent, :name, options ={:prompt => "-- Selecciona --"}%>
  </div>
  <div class="field">
    <%= f.label :county_id, "Municipio" %><br />
    <%= f.collection_select :county_id,  County.where(:state_id => 8).order("name"), :cve_mun, :name, options ={:prompt => "-- Selecciona --"}, :id => "county_id" %>
  </div>
  
  <div class="field">
    <%= f.label :town_id, "Localidad" %><br />
    <%= f.collection_select :town_id,  Town.where(:county_id => @place.county_id, :state_id => 8), :id, :name, options ={:prompt => ""}, :id => "town_id" %>
  </div>
  
  <div class="field">
    <%= f.label :info, "Información Adicional" %><br />
    <%= f.text_area :info %>
  </div>
  <div class="field">
    <%= f.label :latitude, "Latitud" %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude, "Longitud" %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :gmaps %><br />
    <%= f.check_box :gmaps %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
