<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>SEIAS</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div id="HEADER">
        <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">SEIAS</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    </div><!-- HEADER -->

    <div id="STRUCTURE">

        <div id="HEADER_IN">
            #HEADER_IN
        </div><!-- HEADER_IN -->

        <div id="CONTENT">

            <div id="SIDEBAR_LEFT">
                <div id="personal-info">
                    <%= image_tag("avatar.png") %>
                    <span class="nombre">Carlos Fco. Garcia Vargas</span>
                    <span class="depto">Servicios Electrónicos</span>
                </div>
                <ul>
                    <li class="plan"><span></span><%= link_to "Plan Sexenal", sexennial_state_plan_components_path %></li>
                    <li class="factores"><span></span><%= link_to "Factores Criticos", critical_success_factors_path %></li>
                    <li class="actividades"><span></span><%= link_to "Actividades", activities_path %></li>
                </ul>
                <h4>Favoritos</h4>
                <ul>
                    <li class="plan"><span></span><%= link_to "Plan Sexenal", sexennial_state_plan_components_path %></li>
                    <li class="factores"><span></span><%= link_to "Factores Criticos", critical_success_factors_path %></li>
                    <li class="actividades"><span></span><%= link_to "Actividades", activity_types_path %></li>
                </ul>
            </div><!-- SIDEBAR_LEFT -->

            <div id="CONTENT_BODY">
                <%= yield %>
            </div><!-- CONTENT_BODY -->

            <div id="SIDEBAR_RIGHT">
                #SIDEBAR_RIGHT
            </div><!-- SIDEBAR_RIGHT -->

        </div><!-- CONTENT -->

        <div id="FOOTER_IN">
            #FOOTER_IN
        </div><!-- FOOTER_IN -->

    </div><!-- STRUCTURE -->

    <div id="FOOTER">
        SEIAS - DIF 2012
    </div><!-- FOOTER -->
</body>
<script type="text/javascript">
    $(function() {          
            var containerheight = $("#CONTENT").height();
            $("#SIDEBAR_LEFT").css("height",containerheight)
    });
</script>
</html>
