<%= form_for(@public_target) do |f| %>
  <% if @public_target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@public_target.errors.count, "error") %> prohibited this public_target from being saved:</h2>

      <ul>
      <% @public_target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br />
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  </br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
