<h1>Listing public_targets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @public_targets.each do |public_target| %>
  <tr>
    <td><%= public_target.name %></td>
    <td><%= public_target.description %></td>
    <td><%= link_to 'Show', public_target %></td>
    <td><%= link_to 'Edit', edit_public_target_path(public_target) %></td>
    <td><%= link_to 'Destroy', public_target, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Public target', new_public_target_path %>
